<div style="width: 100%;min-width:1280px;position: absolute;z-index:100;top:0;left: 0;background: #25396e; height: 44px;" ng-style="navbarbg">
    <div style="padding: 0 210px;">
        <div id="logo" style="margin-top: 4px">
        </div>
        <div style="display: flex;justify-content: flex-end;padding-top: 4px">
            <div class="navTitle" ng-class="{true: 'active',false: ''}[loc.indexpageFlag]">
                <div class="navFontStyle">
                    <a ng-click="turnToPage('../index.html')">
                        首页
                    </a>
                </div>
                <div class="navTitleBottom">
                </div>
            </div>
            <div  class="navTitle" ng-class="{true: 'active',false: ''}[loc.productFlag]" >
                <div class="navFontStyle" style="width: 104px;padding: 0;text-align: center">
                    服务产品
                </div>
                <div class="navTitleBottom">
                </div>
                <div style="box-shadow: 0 5px 10px #000;">
                <div class="navSecTitle" style="box-shadow: none">
                    <a ng-click="turnToPage('chargeMessage.html')">
                        收费信息服务
                    </a>
                </div>
                <div class="navSecTitle"  style="box-shadow: none">
                    <a ng-click="turnToPage('roadwork.html')">
                        道路施工服务
                    </a>
                </div>
                <div class="navSecTitle"  style="box-shadow: none">
                    <a ng-click="turnToPage('trafficControl.html')">
                        限行限号服务
                    </a>
                </div>
                </div>
            </div>
            <div  class="navTitle" ng-class="{true: 'active',false: ''}[loc.developFlag]">
                <div class="navFontStyle">
                    开发中心
                </div>
                <div class="navTitleBottom">
                </div>
                <div class="navSecTitle">
                    <a ng-click="turnToPage('productService.html')">
                        服务接口
                    </a>
                </div>
            </div>
            <div  class="navTitle" ng-class="{true: 'active',false: ''}[loc.warehouseFlag]">
                <div class="navFontStyle">
                    产品仓库
                </div>
                <div class="navTitleBottom">
                </div>
                <div class="navSecTitle">
                    <a ng-click="turnToPage('productDescription.html')">
                        产品介绍
                    </a>
                </div>
                <div class="navSecTitle"  ng-if="isLogin">
                    <a>
                        产品下载
                    </a>
                    <div class="nav3rdTitleBox">
                        <div class="nav3rdTitle">
                            <a ng-click="turnToPage('productWarehouse.html?specid=11&&specName=IDB')">
                                IDB
                            </a>
                        </div>
                        <div class="nav3rdTitle">
                            <a ng-click="turnToPage('productWarehouse.html?specid=12&&specName=NIMIF-G')">
                                NIMIF-G
                            </a>
                        </div>
                        <div class="nav3rdTitle">
                            <a ng-click="turnToPage('productWarehouse.html?specid=13&&specName=NAVEX')">
                                NAVEX
                            </a>
                        </div>
                        <div class="nav3rdTitle">
                            <a ng-click="turnToPage('productWarehouse.html?specid=14&&specName=AIF')">
                                AIF
                            </a>
                        </div>
                        <div class="nav3rdTitle">
                            <a ng-click="turnToPage('productWarehouse.html?specid=15&&specName=NIGDF-G')">
                                NIGDF-G
                            </a>
                        </div>
                        <div class="nav3rdTitle">
                            <a ng-click="turnToPage('productWarehouse.html?specid=16&&specName=NIMIF-K')">
                                NIMIF-K
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div  class="navTitle" ng-class="{true: 'active',false: ''}[loc.onlineUseFlag]">
                <div class="navFontStyle" style="width: 104px;padding: 0;text-align: center">
                    在线体验
                </div>
                <div class="navTitleBottom">
                </div>
                <div style="box-shadow: 0 5px 10px #000;">
                <div class="navSecTitle" style="box-shadow: none">
                    <a ng-click="turnToPage('tollGate.html')">
                        收费信息查询
                    </a>
                </div>
                <div class="navSecTitle" style="box-shadow: none">
                    <a ng-click="turnToPage('construction.html')">
                        施工数据展示
                    </a>
                </div>
                <div class="navSecTitle" style="box-shadow: none">
                    <a ng-click="turnToPage('trafficLimited.html')">
                        限行数据展示
                    </a>
                </div>
                <div class="navSecTitle" style="box-shadow: none">
                    <a ng-click="turnToPage('scenery.html')">
                        景区专题地图
                    </a>
                </div>
                </div>
            </div>
            <div  class="navTitle" ng-class="{true: 'active',false: ''}[loc.loginFlag]">
                <div class="navFontStyle">
                    <a ng-click="turnToPage('login.html')" ng-bind="loginTitle">
                    </a>
                </div>
                <div class="navTitleBottom">
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    a,a:hover{
        color: #ffffff;
        text-decoration: none;
    }
    .navTitle{
        height:40px;
        cursor: pointer;

    }
    .navTitle:not(:last-child){
        margin-right: 50px;
    }
    .navFontStyle{
        color: #ffffff;
        height:40px;
        line-height: 33px;
        font-size: 14px;
        padding: 0 10px;
    }
    .navTitleBottom{
        height: 4px;
        margin-top: -4px;
        width: 100%;
        background-color: #60c5ff;
        display: none;
    }
    .navTitle:hover{
        background-color: #1478ff;
    }
    .navTitle:hover .navSecTitle{
        display: block;
    }
    .navTitle:hover .navTitleBottom{
        display: block;
    }
    .navTitle:hover .navSecTitle{
        display: block;
    }
    .navTitle.active{
        background-color: #1478ff;
    }
    .navTitle.active .navTitleBottom{
        display: block;
    }
    .navSecTitle{
        color: #FFFFFF;
        line-height: 40px;
        font-size: 14px;
        padding: 0 10px;
        position: relative;
        text-align: center;
        z-index: 100;
        background-color: #0a2146;
        box-shadow: 0 5px 10px #000;
        display: none;
    }
    .navSecTitle a:hover{
        color: #1478ff;
    }
    .nav3rdTitleBox{
        background-color: #0a2146;
        display: none;
        position: absolute;
        left: 100%;
        top:-100%;
    }
    .navSecTitle:hover .nav3rdTitleBox{
        display: block;
    }
    .nav3rdTitle{
        color: #ffffff;
        width: 100px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        text-shadow: 0 1px 10px #000000;
    }
    .nav3rdTitle:hover{
        background-color: #1478ff;
    }
    .nav3rdTitle a:hover{
        color: #ffffff;
    }

</style>