<div>
    <div style="height: 40px;padding: 0px 0px 0px 0px">
        <div style="background: #74666c;height: 100%;width: 100%;display: inline-block">
            <div style="float: left;width:320px">
                <div style="padding: 10px 0px 0px 30px;text-align: left">
                    <span>ID</span>
                </div>
            </div>
            <div style="float: left;width:100px">
                <div style="padding: 10px 0px 0px 10px;text-align: left">
                    <span>版本</span>
                </div>
            </div>
            <div style="float: left;width:80px">
                <div style="padding: 10px 0px 0px 0px;text-align: left">
                    <span>发布类型</span>
                </div>
            </div>
            <div style="float: left;width:140px">
                <div style="padding: 10px 0px 0px 30px;text-align: left">
                    <span>发布日期</span>
                </div>
            </div>
            <div style="float: left;width:90px">
                <div style="padding: 10px 0px 0px 0px;text-align: left">
                    <span>操作</span>
                </div>
            </div>
        </div>
    </div>
    <div id={{displayId}} style="padding: 0px 0px 0px 0px;text-align: left">
        <ul style=" list-style-type: none;padding-left: 0px;margin-top: 0px">
            <li ng-repeat="item in displayModel" style="height: 64px" ng-click="showStaticInfo(item)">
                <div ng-class="{true:'liBgColor'}[item.product_id === flagId]" style="height: 64px; display: inline-block">
                    <div
                            style="float: left;font-family: Arial;font-size: 12px;width: 300px;padding: 0px 10px; line-height: 64px;">
                            <span style="color:rgba(0,0,0,0.8)" ng-bind="item.product_id">
                            </span>

                    </div>
                    <div style="float: left;font-size: 14px;width: 80px;padding: 0px 5px; line-height: 64px;">
                            <span style="color:rgba(0,0,0,0.8)" ng-bind="item.version_season">
                            </span>
                    </div>
                    <div style="float: left;font-size: 14px;width: 60px;padding: 0px 20px; line-height: 64px;">
                            <span style="color:rgba(0,0,0,0.8)" ng-bind="item.file_type|showName">
                            </span>
                    </div>
                    <div style="float: left;font-size: 14px;width: 90px;padding: 10px 10px;">
                            <span style="color:rgba(0,0,0,0.8)" ng-bind="item.create_time">
                            </span>
                    </div>
                    <div style="float: left;font-size: 14px;width: 70px;padding: 20px 20px;">
                        <a href="#"
                           ng-click="stopPre($event, item)"
                        >
                            <div class="downloadNormal"></div>
                        </a>
                        <!--<bubble ng-if="item.open" for="btn" close="item.open=false">你没有权限下载</bubble>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div  style="width: 740px;border-top: 1px solid #74666c;padding-top: 20px">
        <div style="text-align: center;">
            <h5 ng-show="displayPage >= (displayTotal/10)" style="color:rgba(0,0,0,0.8);font-size: 14px; font-weight: normal; -webkit-margin-before: 0px;-webkit-margin-after: 0px;">没有更多数据</h5>
            <div ng-show="displayPage < (displayTotal/10)"
                 ng-click="addProduct(displayId)"
                 style="color:rgba(0,0,0,0.8);font-size: 14px"
            >加载更多...</div>
        </div>
    </div>
</div>