.apiContainer {
    height: 1350px;
    padding-top: 20px;
}
.apiNameContainer {
    height: 40px;
    width: 240px;
    border-bottom: 1px solid #74666c;
}
.apiName {
    padding: 16px 0px 0px 20px;
    font-size: 18px;
    color: #74666c;
}
.apiDescriptionContainer {
    height: 14px;
    width: 690px;
    padding: 20px 0px 16px 20px;
}
.apiDescription {
    line-height: 14px;
    font-size: 14px;
    height: 14px;
    color: #74666c;
}
.apiIPContainer {
    height: 50px;
    width: 690px;
}
.apiIP {
    padding-left: 20px;
    font-size: 14px;
    color: #74666c;
}
.apiIPName {
    border: 1px solid #74666c;
    border-radius: 4px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px
}
.apiParamContainer{
    width: 690px;
}
.apiRequireParamContainer {
    padding: 20px 10px;
}
.apiReturnParamContainer{
    padding: 40px 10px 20px 10px
}
.apiServiceExampleContainer {
    padding: 40px 10px 20px 10px;
}
.apiServiceExampleIPContainer {
    padding: 6px 0px 0px 20px;
    font-size: 14px;
    color: #000000;
}
.apiServiceExampleIP {
    border: 1px solid #74666c;
    border-radius: 4px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
}
.apiExampleRequireParam {
    height: 34px;
    padding: 0px 0px 16px 40px;
    color: #74666c;
    font-size: 14px;
}
.apiExampleRequireParamContainer {
    width: 526px;
    height: 30px;
    padding-bottom: 20px;
}
.apiExampleParamList {
    float: left;
    width: 56px;
    color: #74666c;
    font-size: 14px;
    padding: 8px 0px 8px 0px;
}
.apiResultContainer {
    width: 688px;
    height: 298px;
    /*border: 1px solid #bdc3d3;*/
}
.apiResultButtonsContainer {
    height: 24px;
    width: 140px;
    padding-left: 19px;
}
.apiButtonOfUndo{
    float: left;
    background-color: #74666c;
    height: 24px;
    width: 60px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.apiButtonOfRun {
    float: left;
    background-color: #25396e;
    height: 24px;
    width: 60px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.apiButtonOfRun:hover,
.apiButtonOfUndo:hover
{
    cursor: pointer;
}
.apiButtonOfReset {
    background-color: #e66a98;
    height: 24px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
}
.apiButtonOfReset:hover{
    cursor: pointer;
}
.apiShowResultName {
    height: 16px;
    padding: 16px 0px 10px 19px;
    color: rgba(109, 118, 150, 0.8);
}
.apiResultOfContainer {
    height: 210px;
    width: 650px;
    /*border: 1px solid #bdc3d3;*/
}
.titleContainer{
    height: 18px;
    width: 240px;
    border-bottom: 1px solid #74666c;
    padding: 16px 0px 6px 20px;
}
.titleContent{
    font-size: 18px;
    color: #74666c;
    line-height: 18px;
}
.textContent {
    height: 100%;
    width: 100%;
    font-size: 14px;
}
.apiInputWidth {
    padding-left: 40px;
    width: 400px;
    float: left;
}
.api_Input {
    border-radius: 4px;
    color: #000000;
    font-size: 14px;
    width: 440px;
    height: 30px;
    display: inline-block;
    box-shadow: none;
    border: 1px solid #ccc;
}
.api_Input:focus {
    border-color: #5693ff;
    box-shadow: none;
}
/******************左侧导航栏****************************/
