@charset "UTF-8";
/*主体盒子*/
.container{
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 1200px;
    overflow-x: hidden;
    background-color: #fafafa;
}
.header_div{
    width: 100%;
    height: 2rem;
    background-color: #0f0f0f;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
.wrap{
    width: 100%;
    border-bottom: 1px solid #000;
    overflow: hidden;
}
/*第一页开始*/
.page_one{
    height: 1073px;
    overflow: hidden;
    /*position: relative;*/
}

.page_one .picsum {
    width: 980px;
    margin: 0 auto;
}
.page_one>div>img{
    width: 100%;
    height: 100%;
}
.page_one .picsum .pic1{
    float: left;
    margin-top: 318px;
    width: 539px;
    height: 408px;

}
.page_one .picsum .pic2{
    float: left;
    margin: 359px auto auto 62px;
    width: 375px;
    height: 326px;
    position: relative;

}

.page_one .picsum .pic2 a{
    display: block;
    width: 137px;
    height: 43px;
    position: absolute;
    left: 239px;
    top: 282px;
    border-radius: 5px;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    line-height: 43px;
    background-color: red;
}
/*第一页结束*/
/*右下角样式开始*/
.tapJump{
    position: fixed;
    right: 73px;
    bottom: 50px;
    width: 20px;
    height: 70px;
    border: 2px solid #1478ff;
    border-radius: 13px;
    list-style: none;
    box-sizing: border-box;
}
.tapJump>li{
    width: 14px;
    height: 14px;
    border-radius: 10px;
    border: 2px solid #1478ff;
    margin: 2px auto;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}
.tapJump>li>a{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.active{
    background-color: #1478ff;
}
/*右下角样式结束*/
/*第二页开始*/
.page_two{
    height: 808px;
    overflow: hidden;
    background-color: #f6f6f6;
}
.page_two .picsum {
    width: 980px;
    margin: 0 auto;
}
.page_two .picsum .leftpic {
    float: left;
    width: 391px;
}
.page_two .picsum .leftpic .pic1{
    float: left;
    margin-top: 98px;
    margin-bottom: 134px;
}
.page_two .picsum .leftpic .pic2{
    float: left;
}
.page_two .picsum .rightpic{
    float: left;
    width: 582px;
}

.page_two .picsum .rightpic .pic3{
    float: left;
    margin-top: 285px;
    margin-left: 44px;
    margin-bottom: 197px;
}

.page_two>div>img{
    width: 100%;
    height: 100%;
}
/*第二页结束*/
/*第三页开始*/
.page_three{
    height: 1877px;
    overflow: hidden;
    background-color: #f6f6f6;
}
.page_three .picsum {
    width: 980px;
    margin: 0 auto;
}
.page_three .picsum .leftpic {
    width: 624px;
    float: left;
    margin-right: 90px;
    margin-top: 95px;
}
.page_three .picsum .leftpic .pic1 {
    margin-bottom: 126px;
}
.page_three .picsum .rightpic {
    float: left;
    margin-top: 412px;
}
.page_three .picsum .bottompic {
    float: left;
    margin-top: 351px;
    margin-bottom: 499px;
}
.page_three .picsum .bottompic .pic4 {
    float: left;
    margin-right: 60px;
}
.page_three .picsum .bottompic .pic5 {
    float: left;
}
.page_three>div>img{
    width: 100%;
    height: 100%;
}
/*第三页结束*/
/*第四页开始*/
.page_four {
    overflow: hidden;
    background-color: #f6f6f6;
}
.page_four .picsum {
    width: 980px;
    margin: 0 auto;
}
.page_four .picsum .pic1 {
    margin-top: 120px;
    margin-bottom: 102px;
}
.page_four .picsum .pic2 {
    margin-left: 42px;
    margin-bottom: 107px;
}
.page_four .picsum .pic3 {
    /*padding-bottom: 131px;*/
}
/*第四页结束*/