html,body{
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
}
body{
    overflow-y: scroll;
    font-family: 'Microsoft YaHei','微软雅黑',Arial,sans-serif;
}
#logo{
    float: left;
    background: url('../img/banner/logo.png') no-repeat;
    height: 44px;
    width: 100px;
}
#container{
    width: 100%;
    height: 100%;
    padding: 44px 210px;
    top:0;
    left: 0;
    position: relative;
    box-sizing: border-box;
}
#content{
    width: calc(100% - 420px);
    height: calc(100% - 144px);
    position: absolute;
    box-sizing: border-box;
}
#map{
    width: 100%;
    height: calc(100% - 58px);
    border:1px solid #c5cee6;
    box-sizing: border-box;

}

.selectedDiv{
    right:10px;
    top: 10px;
    position: absolute;
    z-index: 20;
}
.selectedDiv .nowCity{
    padding-right: 13px;
    text-align: center;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    cursor: pointer;
    background-image:url("../img/onlineMap/arrow_normal.png");
    background-repeat: no-repeat;
    background-position: 60px 13px;
    box-sizing: border-box;
    box-shadow: 0 3px 2px  rgba(84, 98, 137, 0.3);
}
.selectedDiv .nowCity >span{
    color: rgb(51,51,51);
    font-size: 12px;
}
.selectedDiv .choosedCity {
    padding-left: 10px;
    width: 280px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    z-index: 20;
    border: none;
    background: #ffffff;
    outline: none;
    cursor: pointer;
    display: none;
    box-sizing: border-box;
    box-shadow: 0 3px 2px rgba(84, 98, 137, 0.3);
}
.selectedDiv .choosedCity span{
    color: #1478FF;
    font-size: 12px;
}
 .selectedDiv .choosedCity .hideCityList{
    position: absolute;
    top: 13px;
    right: 10px;
}
.cityList{
    height: 175px;
    width: 280px;
    padding: 5px 10px;
    background-color: #ffffff;
    display: none;
    position: absolute;
    z-index: 15;
    top:30px;
    right: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(84, 98, 137, 0.3);

}
.cityFirstLetterList{
    width: 100%;
    height: 50px;
    padding-top: 3px;
    color: #1478FF;
}
.firstLetter{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
}
.firstLetter >a{
    font-size: 12px;
    color: #1478FF;
}
.indexLetter a{
    text-decoration: none;
    color: #999999;
}
.allFirstLetters{
    margin: 0;
    padding: 0;
}
.allCities{
    width: 100%;
    height: 110px;
    overflow: auto;
    border-top: 1px solid #d0e4ff;
    border-bottom:1px solid #d0e4ff;
}
.allCities::-webkit-scrollbar{
    width: 6px;
}
.allCities::-webkit-scrollbar-track{
    background-color: #f5f5f5;
}
.allCities::-webkit-scrollbar-thumb{
    height: 5px;
    width: 4px;
    border-radius: 10px;
    background-color: #cccccc;
}
.allCities .allCitiesList{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.allCities .allCitiesList > li{
    list-style-type: none;
    width: 100%;
}
.allCities .allCitiesList > li .indexLetter{
    display: inline-block;
    font-size: 12px;
    color: #cccccc;
    width: 15px;
    padding: 0;
    text-decoration: none;
}
.allCities .allCitiesList > li .citiesBox{
    height: auto;
}
.allCities .allCitiesList > li .citiesBox ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.allCities .allCitiesList > li .citiesBox ul li{
    display: inline-block;
    font-size: 12px;
    list-style-type: none;
    color: #333333;
    padding-left: 8px;
    cursor:pointer ;
}
.allCities .allCitiesList > li .citiesBox ul li:not([title='天津']){
    cursor:not-allowed ;
}
.allCities .allCitiesList > li .citiesBox ul li> span:hover,
.allCities .allCitiesList > li .citiesBox ul li> span:active{
    color: #1478FF;
}
.allCities .allCitiesList > li .citiesBox ul li > span{
    color: #333333;
    font-size: 12px;
}
/***************************右下角按钮****************************/
.changeMapSizeDiv {
    position: absolute;
    z-index: 15;
    width: 20px;
    height: 50px;
    right: 10px;
    bottom: 10px ;
}
.addBtn{
    width: 20px;
    height: 20px;
    background-image: url("../img/onlineMap/button_max_normal.png");
    background-position: center;
    background-size: cover;
    outline: none;
    margin-bottom: 10px;
    border: 0;
    box-shadow: 0 1px 3px rgba(84, 98, 137, 0.3);
}
.addBtn:hover,.addBtn:active{
    background-image: url("../img/onlineMap/button_max_active.png");
}
.subBtn{
    width: 20px;
    height: 20px;
    background-image: url("../img/onlineMap/button_min_normal.png");
    background-position: center;
    outline: none;
    border: 0;
    box-shadow: 0 1px 2px rgba(84, 98, 137, 0.3);
}
.subBtn:hover,.subBtn:active{
    background-image: url("../img/onlineMap/button_min_active.png");
}
/*********************施工道路重构*******************/
.fl {
    float: left;
}

.fr {
    float: right;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul, input, p{
    margin: 0;
    padding: 0;
}
.clear:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden; }
li{
    list-style:none;
}
#container #content .sumTitle{
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left:0;
    top:0;
    z-index: 3;
    color:#fa4e5d;
    font-size:12px;
}
#container #content .sumTitle li {
    line-height: 40px;
    margin-right: 60px;
}
#container #content .sumTitle .cityDis{
    color:#FFFFFF;
    width:80px;
    line-height: 16px;
    margin-top: 12px;
    margin-right: 0px;
    background: url(../img/onlineMap/icon_arrow_normal.png) no-repeat 60px 7px;
    cursor: pointer;
}
#container #content .sumTitle .cityDis span{
    border-left:1px solid #FFFFFF;
    padding-left: 10px;
    display: inline-block;
    width: 100%;
}
#container #content .sumTitle .cityDis .selectedCity{
    background-color: rgba(20, 120, 255, 0.2);
    border:1px solid #1478ff;
    margin-top: 12px;
    display: none;
}
#container #content .sumTitle .cityDis .selectedCity div{
    line-height: 30px;
    padding-left:10px;
}
#container #content .sumTitle .cityDis .selectedCity div:hover{
    background-color: rgba(20, 120, 255, 1);
    cursor: pointer;
}
#container #content .graphExp{
    position:absolute;
    left:10px;
    bottom:10px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    font-size:12px;
    color:#FFFFFF;
    padding: 0px 10px;
}
#container #content .graphExp ul{
    line-height: 30px;

}
#container #content .graphExp ul li{
    margin-right: 30px;

}
#container #content .graphExp ul .square{
    display: inline-block;
    width:12px;
    height: 12px;
    border-radius: 3px;
    -webkie-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #fa4e5d;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -2px;
}
/*******************************路费弹框********************************/
 .mapboxgl-map .mapboxgl-popup .mapboxgl-popup-tip {
    display: none;
}
.mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content{
    padding:0;
    background: transparent;
    box-shadow: none;
}
 .mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content > button{
    display: none;
}
 .mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content div .tipPopDeep{
    width: 0;
    height: 0;
    margin: 0 auto;
    border-width:8px 6px 0;
    border-style:solid ;
     border-color:rgba(0,0,0,0.3) transparent transparent;
}

.mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content div .feePopDeep{
    margin: 0;
    padding:0px 10px;
    width: 210px;
    color: #ffffff;
    font-size: 12px;
    text-align: left;
    background-color: rgba(0,0,0,0.3);
    line-height: 30px;
}
