.apiDescriptionContent{
    height: 130px;
}
.apiDescriptionDiv {
    height: 39px;
    width: 240px;
    border-bottom: 1px solid #74666c;
}
.apiSummary {
    padding: 16px 0px 0px 20px;
    font-size: 18px;
    color: #74666c;
}
.apiUpdateContainer {
    height: 90px;
    width: 690px;
}
.apiUpdate {
    padding: 20px 0px 0px 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}
.apiBriefContainer {
    height: 200px;
}
.apiBriefDiv {
    height: 39px;
    width: 240px;
    border-bottom: 1px solid #74666c;
}
.apiBriefTitle {
    padding: 16px 0px 0px 20px;
    font-size: 18px;
    color: #74666c;
}
.apiBriefContentContainer {
    height: 120px;
    width: 690px;
}
.apiBriefContent {
    padding: 3px 0px 0px 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 30px;
}
.apiDocumentContainer {
    height: 460px;
}
.apiDocumentDiv {
    height: 39px;
    width: 240px;
    border-bottom: 1px solid #74666c;
}
.apiDocument {
    padding: 16px 0px 0px 20px;
    font-size: 18px;
    color: #74666c;
}
.apiDocumentTabContainer {
    height: 90px;
    width: 690px;
}
.apiDocumentContent {
    padding: 20px 0px 0px 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 30px;
}
.titleContainer{
    height: 18px;
    width: 240px;
    border-bottom: 1px solid #74666c;
    padding: 16px 0px 5px 20px;
}
.titleContent{
    font-size: 18px;
    color: #74666c;
    line-height: 18px;
}

/*修改样式开始*/
.container{
    min-width: 850px;
    width: 50.1rem;
    margin: 0 auto;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    overflow: hidden;
}
.container>p:nth-child(1){
    margin-top: 5.25rem;
    text-align: left;
    font-size: 1.6rem;
    font-family: 黑体;
}
.container>p:nth-child(2){
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 2.45rem;
    color: #666;
    font-family: arial;
}
.main_div{
    border: 25px solid #e6e6e6;
}
.main_div>ul>li.li_div{
    overflow: hidden;
    position: relative;
}
.main_div>ul>li.li_div>p>img{
    width: 100%;
}
.main_div>ul>li.li_div>img,.main_div>ul>li.li_div>p{
    float: left;
    width: 50%;
    height: 15.8rem;
    min-height: 264px;
}
.main_div>ul>li.li_div:nth-child(1)>p{
    box-sizing: border-box;
    background-color: #57b6ca;
}

.main_div>ul>li.li_div:nth-child(2)>p{
    box-sizing: border-box;
    background-color: #597888;
}
.main_div>ul>li.li_div:nth-child(3)>p{
    box-sizing: border-box;
    background-color: #f9a358;
}

.main_div>ul>li.li_div:nth-child(4)>p{
    box-sizing: border-box;
    background-color: #59b495;
}
.main_div>ul>li.li_div:nth-child(5)>p{
    box-sizing: border-box;
    background-color: #d8626e;
}
.main_div>ul>li.li_div:nth-child(6)>p{
    box-sizing: border-box;
    background-color: #9d6cdc;
}
.main_div>ul>li.li_div:nth-child(7)>p{
    box-sizing: border-box;
    background-color: #749dbc;
}
.main_div>ul>li.li_div:nth-child(8)>p{
    box-sizing: border-box;
    background-color: #8c9bad;
}
.main_div>ul>li.li_div:not(:last-child){
    margin-bottom: 1rem;
}


/*修改样式结束*/



