
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    font-family:'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
/***************************headerContainer************************/
#logo{
    float: left;
    background: url('../img/banner/logo.png') no-repeat;
    height: 44px;
    width: 100px;
}
#homePage:hover{
    background-color: rgb(20,120,255);
}
#homePage:hover #homePageBottom{
    background-color: #60c5ff;
}
#solution:hover{
    background-color: rgb(20,120,255);
}
#solution:hover +#solutionBottom{
    background-color: #60c5ff;
}
#service:hover{
    background-color: rgb(20,120,255);
}
#service:hover +#serviceBottom{
    background-color: #60c5ff;
}
#produce:hover{
    background-color: rgb(20,120,255);
}
#produce:hover +#produceBottom{
    background-color: #60c5ff;
}
#support:hover{
    background-color: rgb(20,120,255);
}
#support:hover +#supportBottom{
    background-color: #60c5ff;
}
#login:hover{
    background-color: rgb(20,120,255);
}
#login:hover +#loginBottom{
    background-color: #60c5ff;
}
.topTittle{
    float:left;
    height: 40px;
    cursor: pointer;
}
span{
    font-size: 14px;
    color: white;
    /*font-weight: bold;*/
}
#companyIcon{
    background: url('../img/banner');
}
.menu {
    display: none;
    float: left;
    height: 80px;
    line-height: 22px;
    width: 76px;
    background: rgb(10, 33, 70);
}
.menuDataServiceGrid,
.menuWaresGrid
{
    height: 4px;
    width: 76px;
    display: none;
    background-color: #60c5ff;
}
.box-shadow{
    -webkit-box-shadow:0 5px 10px #000;
    -moz-box-shadow:0 5px 10px #000;
    box-shadow:0 5px 10px #000;
}
/**********************888******************************************/
#typesContainer{
    height: 600px;
    background-color: #0a1433;
}
#typeIcon {
    float: left;
    background: url("../img/produceType/productTypeIcon.png") no-repeat;
    width: 28px;
    height: 40px;
}
#typeText {
    float: left;
    padding: 0px 0px 0px 16px;
}
#basicMap {
    position: relative;
    background: url('../img/produceType/baseMap.png') no-repeat;
    width: 240px;
    height: 160px;
}
#basicMap p,#adas p,#sound p,#charge p,
#threeData p,#pedestrian p,#parking p,#depthPOI p{
    position: absolute;
    bottom: 0;
    top: 40%;
    width: 100%;
    opacity: 0;
    color: #ffffff;
    -webkit-transform: translate3d(0,10px,0);
    -ms-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
#basicMap h2,#adas h2,#charge h2,#sound h2,
#threeData h2,#pedestrian h2,#parking h2,#depthPOI h2
{
    position: absolute;
    top: 40%;
    width: 100%;
    -webkit-transition: -webkit-transform 1s, color 1s;
    transition: transform 1s, opacity 1s;
    -webkit-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}
#basicMap:hover h2,#adas:hover h2, #charge:hover h2,
#sound:hover h2, #threeData:hover h2, #pedestrian:hover h2,
#parking:hover h2, #depthPOI:hover h2
{
    color: #fff;
    opacity: 0;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-80px,0);
    -ms-transform: translate3d(0,-50%,0) translate3d(0,-80px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-80px,0);
}
#basicMap:hover p,#adas:hover p, #charge:hover p,
#sound:hover p, #threeData:hover p, #pedestrian:hover p,
#parking:hover p, #depthPOI:hover p{
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#adas {
    position: relative;
    background: url('../img/produceType/adas.png') no-repeat;
    width: 240px;
    height: 160px;
    /*text-align: center;*/
    /*vertical-align: bottom;*/
    /*display: table-cell;*/
}
#charge {
    position: relative;
    background: url('../img/produceType/chargingPlot.png') no-repeat;
    width: 240px;
    height: 160px;
    /*text-align: center;*/
    /*vertical-align: bottom;*/
    /*display: table-cell;*/
}
#sound {
    position: relative;
    background: url('../img/produceType/voiceRecognition.png') no-repeat;
    width: 240px;
    height: 160px;
    /*text-align: center;*/
    /*vertical-align: bottom;*/
    /*display: table-cell;*/
}
#threeData {
    position: relative;
    background: url('../img/produceType/3dModel.png') no-repeat;
    width: 240px;
    height: 160px;
    /*text-align: center;*/
    /*vertical-align: bottom;*/
    /*display: table-cell;*/
}
#pedestrian {
    position: relative;
    background: url('../img/produceType/pedestrianGuidance.png') no-repeat;
    width: 240px;
    height: 160px;
    /*text-align: center;*/
    /*vertical-align: bottom;*/
    /*display: table-cell;*/
}
#parking {
    position: relative;
    background: url('../img/produceType/parking.png') no-repeat;
    width: 240px;
    height: 160px;
    /*text-align: center;*/
    /*vertical-align: bottom;*/
    /*display: table-cell;*/
}
#depthPOI {
    position: relative;
    background: url('../img/produceType/depthPOI.png') no-repeat;
    width: 240px;
    height: 160px;
    /*text-align: center;*/
    /*vertical-align: bottom;*/
    /*display: table-cell;*/
}
/*******************************产品部分****************************/
#produceContainer{
    height: 600px;
    background: url('../img/produceService/productService.png') no-repeat;
    position: relative;
    background-size: cover;
    text-align: center;
}
#dayProduce {
    float: left;
    width: 33%;
    height: 100%;
    padding: 116px 0px 0px 0px;
}
#dayProduceIcon{
    background: url('../img/produceService/dayProduce.png') no-repeat;
    background-position: center;
    height: 90px;

}
#dayProduce:hover{
    background: url('../img/produceService/selectProductService.png') no-repeat top;
    height: 600px;
}
#monthProduce {
    float: left;
    width: 33%;
    height: 100%;
    padding: 120px 0px 0px 0px;
}
#monthProduceIcon{
    background: url('../img/produceService/monthProduce.png') no-repeat;
    height: 90px;
    background-position: center;
}
#monthProduce:hover{
    background: url('../img/produceService/selectProductService.png') no-repeat top;
    height: 600px;
}
#seasonProduce {
    float: left;
    width: 33%;
    height: 100%;
    padding: 120px 0px 0px 0px;
}
#seasonProduceIcon{
    background: url('../img/produceService/seasonProduce.png') no-repeat;
    background-position: center;
    height: 90px;
}
#seasonProduce:hover{
    background: url('../img/produceService/selectProductService.png') no-repeat top;
    height: 600px;
}
.dotDiv{
    float: left;
    background: url('../img/produceService/dotNormal.png') no-repeat  50% 50%;
    width: 30px;
    height: 45px;
    padding-right: 10px;
}
.dot{
    background: url('../img/productWarehouse/grayIcon.png') no-repeat  50% 50%;
    width: 12px;
    height: 12px;
}
.dotGrayDivtop{
    padding-top:7px;
    float: left;
    background: url('../img/productWarehouse/grayIcon.png') no-repeat  50% 50%;
    width: 10px;
    height: 25px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left:-10px;
}
.dotGrayDiv{
    float: left;
    background: url('../img/productWarehouse/grayIcon.png') no-repeat  50% 50%;
    width: 10px;
    height: 25px;
    padding-right: 10px;
    padding-left: 10px;
}
.textDiv{
    float: left;
    padding-left: 10px;
    word-wrap: break-word;
    word-break: normal;
}
#onlineExp {
    background: url('../img/produceService/experienceNormal.png') no-repeat;
    float: right;
    height: 80px;
    width: 120px;
    padding-bottom: 40px;
}
#onlineExp:hover {
    background: url('../img/produceService/experienceActive.png') no-repeat;
}
/**********************************开发API***************************/
#developContainer{
    height: 660px;
    overflow: hidden;
    background-color: #ffffff;
}
#developIcon {
    float: left;
    background: url("../img/develop/developIcon.png") no-repeat;
    width: 40px;
    height: 40px;
}
#developText {
    float: left;
    padding: 0px 0px 0px 16px;
}
#basicInterface {
    float: left;
    background: url('../img/develop/basicInterfaceBg.png') no-repeat;
    height: 240px;
    width: 260px;
}
#basicContent {
    float: left;
    padding-left: 40px;
    height: 240px;
}
.topSplitLine{
    background: url('../img/develop/line.png') no-repeat;
    height: 1px;
    width: 50px;
}
.rightSplitLine{
    background: url('../img/develop/line.png') no-repeat right;
    height: 1px;
    width: 100%;
}
#basicInterfaceMore {
    /*background: url('../img/develop/moreNormal.png') no-repeat;*/
    background: white;
    border: 1px solid #74666c;
    width: 120px;
    font-size: 18px;
    color: #74666c;
    height: 40px;
    line-height: 38px;
    cursor: pointer;
}
#basicInterfaceMore:hover {
   background:  #74666c;
    color: #ffffff;
}
#extendedInterface {
    float: right;
    background: url('../img/develop/extendedInterface.png') no-repeat;
    height: 240px;
    width: 260px;
}
#extendedInterfaceContent {
    float: right;
    padding-right: 40px;
    height:240px;
}
#extendedInterfaceMore {
    background: white;
    border: 1px solid #74666c;
    width: 120px;
    font-size: 18px;
    color: #74666c;
    height: 40px;
    line-height: 38px;
    cursor: pointer;
    float: right;
}
#extendedInterfaceMore:hover {
    background:  #74666c;
    color: #ffffff;
}
/*****************************地图***********************************/
@media (min-width: 1401px) {
    #solutionContainer{
        background: url('../img/solution/solutionL.png') no-repeat;

    }
}
@media (max-width: 1400px) {
    #solutionContainer{
        background: url('../img/solution/solution.png') no-repeat;
    }
}
#solutionContainer{
    height: 600px;
    background-size: 100% 100%;
}
#solutionMarksContainer{
    /*background: url('../img/solution/solutionMarks.png') no-repeat;*/
    height: 600px;
    /*background-size: cover;*/
}
#solutionIcon {
    float: left;
    background: url("../img/solution/solutionIcon.png") no-repeat;
    width: 40px;
    height: 40px;
}
#solutionText {
    float: left;
    padding: 0px 0px 0px 16px;
}
#bottomContainer{
    height: 150px;
    background: url('../img/copyRight/copyright.png') no-repeat;
    background-size:  100% 150px;
}

/******************************************productWarehouse****************/
#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navigation li {
    display: inline;
    padding-left: 5px;
    /*padding-right: 15px;*/
}
#navigation a {
    text-decoration: none;
    font-size: 14px;
    color:rgba(0,0,0,0.7);
    /*opacity: 0.3*/
}
.rightIcon{
    background: url('../img/rightIcon.png') no-repeat 50% 50%;
    width: 14px;
    height: 14px;
}
.productStrategyIcon{
    background: url('../img/productWarehouse/productStrategyIcon.png') no-repeat;
    height: 26px;
    width: 18px;
    float: left;
}
.productStrategyDateIcon{
    background: url('../img/productWarehouse/dateIcon.png') no-repeat;
    height: 26px;
    width: 24px;
    float: left;
}
.productStrategyText{
    float: left;
    padding: 0px 0px 0px 22px;
}
input[type="radio"] {
 margin: 10px 20px 0px 0px;
}
.produceListIcon{
    background: url('../img/produceList/produceListIcon.png') no-repeat;
    height: 24px;
    width: 24px;
    float: left;
}
#productDayList ul,#productMonthList ul,
#productSeasonList ul {
    -webkit-padding-start: 0px;
}
/*#productDayList li:nth-child(odd),*/
/*#productMonthList li:nth-child(odd),*/
/*#productSeasonList li:nth-child(odd) {*/
    /*background-color:#eee;*/
/*}*/
#productDayList li:hover,
#productMonthList li:hover,
#productSeasonList li:hover{
    color: rgb(0,0,0);
    background: #eee;
}
.liBgColor{
    background-color: #eee;
    width:100%;
}
.downloadNormal{
    /*background: url('../img/productWarehouse/downloadNormal.png') no-repeat;*/
    background: white;
    border: 1px solid #74666c;
    font-size: 14px;
    color: #74666c;
    width: 60px;
    text-align: center;
    line-height: 22px;
    height: 24px;
}
.downloadNormal:hover{
    background:  #74666c;
    color: #ffffff;
}
a>div:hover{
    /*background: url('../img/productWarehouse/downloadActive.png') no-repeat;*/
    background:  #74666c;
    color: #ffffff;
}
.darkBlueIcon {
    background:  url("../img/productWarehouse/darkBlueIcon.png") no-repeat 50% 50%;
    width: 12px;
    height: 24px;
}
.provinceSpan {
    text-align: center;
    height: 24px;
    width: 54px;
    border: 1px solid #66ccff;
    background: #66ccff;
    border-radius: 10px;
}
#serviceInterfaceNav>div>span:hover {
    color:#1478ff;;
    cursor: pointer;
}
#produceHouseNav>div>span:hover{
    color:#1478ff;
    cursor: pointer;
}
#produceHouseNavOfSon:hover,
#onlineUse:hover
{
    display: block;
}
#produceHouseNavOfSon>div>a,
#onlineUse>div>a
{
    color:#fff;
}
#produceHouseNavOfSon>div:hover
{
    background-color:#1478ff;
    cursor: pointer;
}
#onlineUse > div >a:hover
{
    color: #1478FF !important;
}
.pageUpIcon{
    background: url('../img/productWarehouse/pageUp.png') no-repeat;
    width: 20px;
    height: 20px;
}
.pageDownIcon {
    background: url('../img/productWarehouse/pageDown.png') no-repeat;
    width: 20px;
    height: 20px;
}
.enterBg {
    background-color: #60c5ff;
}
.leaveBg{
    background-color: rgb(10, 33, 70);
}
.ui-bubble {
    /*padding: 10px;*/
    /*border: 1px solid rgba(0, 0, 0, 9);*/
    /*border-radius: 5px;*/
    background: red;
    color: red;
}
/********************************dataService*******************************/
.showTypeList {
    padding: 0px 50px 0px 60px;
    line-height: 30px;
    color: rgba(37, 57, 110, 0.5);
    font-size: 14px;
    font-weight: bold;
}
.showTypeList>div:hover{
    color:#25396e;
    cursor: pointer;
}
.selectedBg{
    color: #25396e;
    font-weight: bold;
}
.tabTd{
    background-color: #e6e4e4;
    font-size: 14px;
    color:#74666c;
}
tr>th>div{
    background-color: #e6e4e4;
    font-weight: normal;
    font-size: 14px;
    color:#74666c;
}
tr>td {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #dddddd;
}
.arrowNormal{
    background: url('../img/produceService/arrowActive.png') no-repeat;
    width: 10px;
    height: 9px;
}
.arrowActive{
    background: url('../img/produceService/arrowNormal.png') no-repeat;
    width: 10px;
    height: 9px;
}
.jumpBackground {
    position: fixed;
    text-align: left;
    width: 100px;
    background-color: rgba(233, 235, 240, 0.81);
    z-index: 50;
    top: 119px;
    cursor: default;
}
.jumpStyle {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-left: 6px;
    font-weight: 500;
    border: none;
}
.jumpStyleActive{
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: rgba(20, 120, 255, 0.8);
    text-align: center;
    padding-left: 4px;
    border-left: 2px solid #1478ff;
    font-weight: 500;
}
.jumpStyle:hover{
    color: rgba(20, 120, 255, 0.8);
}

.jumpStyle2 {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-left: 6px;
    font-weight: 500;
    border: none;
}

/******************undevelopPage********************************/
.undevelopPage{
    background: url('../img/undevelopPage.png') no-repeat;
    height: 595px;
    width: 875px;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.info:hover{
    color: #3385ff;
}
/**************************菜单样式***************************************************************/
.firstMenu {
    display: none;
    margin-left: -2px;
    color: #fff;
    float: left;
    margin-top: 95px;
    width: 120px;
    height: 80px;
    background: rgb(10, 33, 70);
    position: absolute;
    z-index: 25;
    left: 78px;
}
@media screen and (min-height: 780px)  {
    .undevelopPage{
        background: url('../img/undevelopPage.png') no-repeat;
        height: 680px;
        width: 1000px;
        -moz-background-size:cover;
        -webkit-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
    }
}
/**************************返回顶部*******************************/
#backToTop{
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 50;
    width: 40px;
    height:40px;
    display: none;
    cursor: pointer;
    background-size: cover;
    background-image: url("../img/button_totop_normal.png");
}
#backToTop:hover{
    background-image: url("../img/button_totop_active.png");
}
#backToTop:active{
    background-image: url("../img/button_totop_active.png");

}