/**
 * Created by Songlin  Chen on 17.3.8.
 */
html,body{
    width: 100%;
    min-width: 1180px;
    height: 100%;
}
body{
    padding-top: 44px;
}
.info:hover{
    color: #3385ff;
}
.content{
    width: 100%;
    padding:46px 210px 40px 210px;
    height: 100%;
    background-color: #ffffff;
}
.onlineMap{
    width: 100%;
    height: 100%;
    position: relative;
    top:0;
    left: 0;
    border: 1px solid #c5cee6;
    /*box-shadow: 1px 1px 2px 5px #546289;*/
}
#map {
    height: 100%;
    width: 100%;
}
/****************************左侧********************************/
.leftSearchDiv{
    width: 340px;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 3;
    display: inline-block;
}
.onlineMap .input-group .searchbar-exchange {
    width: 30px;
    height: 60px;
    border-radius: 0;
    outline: none;
    background-color: #ffffff;
    background-image: url('../img/onlineMap/searchbar_change.png');
    background-repeat: no-repeat;
    background-position:center;
}
.onlineMap .input-group .searchbar {
    width: 240px;
    padding-left: 30px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border:none;
    height: 30px;
    outline: none;
    font-size: 12px;
    color: #000000;

}
.onlineMap .input-group .placeholderStyle::-webkit-input-placeholder{
 font-size: 12px;
}

.input-group .empty-input{
    display: inline-block;
    margin-top: 0;
    margin-left: -16px;
    cursor: pointer;
}
.onlineMap .leftSearchDiv div > .searchbtn{
    float: left;
    margin-left: 280px;
    margin-top: -60px;
    padding-top: 4px;
    height: 30px;
    color: #ffffff;
    background-color: #3385ff;
    border-radius: 0;
    border-color: #3385ff;
    box-shadow: 0 3px 2px  rgba(84, 98, 137, 0.3);

}
.onlineMap .leftSearchDiv div .searchbtn:hover{
    cursor: pointer;
    background-color: #0066cc;
}
.onlineMap .leftSearchDiv div .searchbtn:active{
    background-color: #0066cc;
    outline: none;
}
.onlineMap .leftSearchDiv div .searchbtn:focus{
    outline: none;
}
.onlineMap .searchResultList{
    width: 280px;
    box-shadow: 0 3px 2px  rgba(84, 98, 137, 0.3);
}
.onlineMap .searchResultList ul{
    margin: 0;
    padding: 0;
}
.onlineMap .searchResultList ul .searchResult{
    display: none;
    background-color: #ffffff;
    height: 30px;
    list-style-type: none;
}
.onlineMap .searchResultList ul .searchResult:hover{
    background-color:#1478FF;
}
.onlineMap .searchResultList ul .searchResult:hover span.resultStation,
.onlineMap .searchResultList ul .searchResult:hover span.stationLocation {
    color:#ffffff;
}
.onlineMap .searchResultList ul .searchResult:hover  span.logo{
    background-image: url("../img/onlineMap/search_active.png");
} 
.searchResult .logo{
    padding: 0 20px 0 10px;
    width: 10px;
    height: 10px;
    background-image: url("../img/onlineMap/search_normal.png");
    background-repeat: no-repeat;
    background-position: center ;
}
.noSearchResult .logo{
    padding: 0 20px 0 10px;
    width: 10px;
    height: 10px;
    background-image: url("../img/onlineMap/search_normal.png");
    background-repeat: no-repeat;
    background-position: center ;
}
.searchResult .resultStation{
    padding-right: 10px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #333333;

}
.searchResult .stationLocation{
    height: 30px;
    font-size: 12px;
    color: #cccccc;
    line-height: 30px;

}
.noSearchResult{
    display: none;
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
}
 span.noResult{
    color: #1478FF;
    font-size: 12px;
}

/**********************右侧*************************/
.onlineMap .selectedDiv{
    right:10px;
    top: 10px;
    position: absolute;
    z-index: 3;
}
.onlineMap .selectedDiv .nowCity{
    padding-right: 13px;
    text-align: center;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: none;
    background: #ffffff;
    outline: none;
    cursor: pointer;
    background-image:url("../img/onlineMap/arrow_normal.png");
    background-repeat: no-repeat;
    background-position: 60px 13px;
    display: block;
    box-shadow: 0 3px 2px  rgba(84, 98, 137, 0.3);
}
.onlineMap .selectedDiv .choosedCity {
    padding-left: 10px;
    width: 280px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    z-index: 20;
    border: none;
    background: #ffffff;
    outline: none;
    cursor: pointer;
    display: none;
    box-shadow: 0 3px 2px rgba(84, 98, 137, 0.3);
}
.onlineMap .selectedDiv .choosedCity span{
    color: #1478FF;
    font-size: 12px;
    margin-right: 200px;
}
.cityList{
    height: 175px;
    width: 280px;
    padding: 5px 10px;
    background-color: #ffffff;
    display: none;
    position: absolute;
    z-index: 15;
    top:30px;
    right: 0;
    box-shadow: 0 1px 2px rgba(84, 98, 137, 0.3);

}
.cityFirstLetterList{
    width: 100%;
    height: 50px;
    padding-top: 3px;
    color: #1478FF;
}
.firstLetter{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
}
.firstLetter >a{
    font-size: 12px;
    color: #1478FF;
}
.indexLetter a{
    text-decoration: none;
    color: #999999;
}
.allFirstLetters{
    margin: 0;
    padding: 0;
}
.allCities{
    width: 100%;
    height: 110px;
    overflow: auto;
    border-top: 1px solid #d0e4ff;
    border-bottom:1px solid #d0e4ff;
}
.allCities::-webkit-scrollbar{
    width: 6px;
}
.allCities::-webkit-scrollbar-track{
    background-color: #f5f5f5;
}
.allCities::-webkit-scrollbar-thumb{
    height: 5px;
    width: 4px;
    border-radius: 10px;
    background-color: #cccccc;
}
.allCities .allCitiesList{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.allCities .allCitiesList > li{
    list-style-type: none;
    width: 100%;
}
.allCities .allCitiesList > li .indexLetter{
    display: inline-block;
    font-size: 12px;
    color: #cccccc;
    width: 15px;
    padding: 0;
    text-decoration: none;
}
.allCities .allCitiesList > li .citiesBox{
  height: auto;
}
.allCities .allCitiesList > li .citiesBox ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.allCities .allCitiesList > li .citiesBox ul li{
    display: inline-block;
    font-size: 12px;
    list-style-type: none;
    color: #333333;
    padding-left: 8px;
    cursor: pointer;
}
.allCities .allCitiesList > li .citiesBox ul li> span:hover,.allCities .allCitiesList > li .citiesBox ul li> span:active{
   color: #1478FF;
}
.allCities .allCitiesList > li .citiesBox ul li > span{
    color: #333333;
    font-size: 12px;
}
/***************************右下角按钮****************************/
.changeMapSizeDiv {
    position: absolute;
    z-index: 15;
    width: 20px;
    height: 50px;
    right: 10px;
    bottom: 10px ;
}
.addBtn{
    width: 20px;
    height: 20px;
    background-image: url("../img/onlineMap/button_max_normal.png");
    background-position: center;
    background-size: cover;
    outline: none;
    margin-bottom: 10px;
    border: 0;
    box-shadow: 0 1px 3px rgba(84, 98, 137, 0.3);
}
.addBtn:active{
    background-image: url("../img/onlineMap/button_max_active.png");
}
.subBtn{
    width: 20px;
    height: 20px;
    background-image: url("../img/onlineMap/button_min_normal.png");
    background-position: center;
    outline: none;
    border: 0;
    box-shadow: 0 1px 2px rgba(84, 98, 137, 0.3);
}
.subBtn:active{
    background-image: url("../img/onlineMap/button_min_active.png");
}
/*******************************路费弹框********************************/
.onlineMap .mapboxgl-map .mapboxgl-popup .mapboxgl-popup-tip {
    display: none;
}
.onlineMap .mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content{
    padding:0;
    background: transparent;
    box-shadow: none;
}
.onlineMap .mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content > button{
    display: none;
}
.onlineMap .mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content div .tipPop{
    width: 0;
    height: 0;
    margin: 0 auto;
    border-width:6px 3px 0;
    border-style:solid;
    border-color:#1478FF transparent transparent;
}
.onlineMap .mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content div .feePop{
    margin: 0;
    height: 24px;
    padding:0 6px;
    min-width: 52px;
    line-height: 24px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    background-color: rgba(20,120,255,0.8);
}
/***************************判断是否显示删除按钮****************************************************/
.deleteBtn{
    display: none;
}
.showDeleteBtn {
    display: inline-block;
    margin-top: 0;
    margin-left: -16px;
    cursor: pointer;
}
.hideDeleteBtn {
    display: none;
}
/**************************菜单样式***************************************************************/
.firstMenu {
    display: none;
    margin-left: -2px;
    color: #fff;
    float: left;
    margin-top: 95px;
    width: 100px;
    height: 50px;
    background: rgb(10, 33, 70);
    position: absolute;
    z-index: 25;
    left: 78px;
}

