@charset "UTF-8";
/*主体盒子*/
.container{
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 1200px;
    overflow-x: hidden;
    background-color: #fafafa;
}
.header_div{
    width: 100%;
    height: 2rem;
    background-color: #0f0f0f;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
.wrap{
    width: 100%;
    border-bottom: 1px solid #000;
    overflow: hidden;
}
/*第一页开始*/
.page_one{
    height:53.8rem;
    overflow: hidden;
}
.page_one>div{
    width: 49.95rem;
    height: 26.35rem;
    margin: 11.35rem auto auto auto;
    position: relative;
}
.page_one>div>img{
    width: 100%;
    height: 100%;
}
.page_one>div>a{
    display: block;
    width: 6.75rem;
    height: 2.05rem;
    position: absolute;
    left: 42.9rem;
    bottom: 3.75rem;
    border-radius: 5px;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    line-height: 2.05rem;
}
/*第一页结束*/
/*右下角样式开始*/
.tapJump{
    position: fixed;
    right: 73px;
    bottom: 50px;
    width: 26px;
    height: 94px;
    border: 2px solid #1478ff;
    border-radius: 13px;
    list-style: none;
    box-sizing: border-box;
}
.tapJump>li{
    width: 19px;
    height: 19px;
    border-radius: 10px;
    border: 2px solid #1478ff;
    margin: 3px auto;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}
.tapJump>li>a{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.active{
    background-color: #1478ff;
}
/*右下角样式结束*/
/*第二页开始*/
.page_two{
    height: 40.5rem;
    overflow: hidden;
    background-color: #f6f6f6;
}
.page_two>div{
    /*margin: 4.75rem auto auto auto;*/
    width: 100%;
    height: 100%;
}
.page_two>div>img{
    width: 100%;
    height: auto;
}
/*第二页结束*/
/*第三页开始*/
.page_three{
    height: 69.6rem;
    overflow: hidden;
}
.page_three>div:nth-child(1){
    margin: 4.5rem auto 8.3rem auto;
    width: 45.4rem;
    height: 31.25rem;

}
.page_three>div:nth-child(2){
    margin: auto;
    width: 42.55em;
    height: 17.75rem;

}
.page_three>div:nth-child(1)>img,.page_three>div:nth-child(2)>img{
    width: auto;
    height: 100%;
}
/*第三页结束*/
/*第四页开始*/
.page_four{
    height: 86.1rem;
    overflow: hidden;
    background-color: #f6f6f6;
}
.page_four>div:nth-child(1){
    width: 51.1rem;
    height: 43rem;
    margin: 5.7rem auto 3.9rem auto;
}
.page_four>div:nth-child(2){
    width: 57.8rem;
    height: 25.45rem;
    margin: auto;
}
.page_four>div:nth-child(1)>img,.page_four>div:nth-child(2)>img{
    width: 100%;
    height: 100%;
}
/*第四页结束*/