html,body{
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
}
body{
    overflow-y: scroll;
    /*font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Hiragino Sans GB', '微软雅黑', '黑体', Arial, sans-serif !important;*/
    font-family: 'Microsoft YaHei','微软雅黑',Arial,sans-serif;
}
#logo{
    float: left;
    background: url('../img/banner/logo.png') no-repeat;
    height: 44px;
    width: 100px;
}
#container{
    width: 100%;
    height: 100%;
    padding: 44px 210px;
    top:0;
    left: 0;
    position: relative;
    box-sizing: border-box;
}
/*-------------------------------scenery--------------------------------------*/
.fl {
    float: left; }

.fr {
    float: right; }

.wrapper {
    margin: 0 auto; }

.clear:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden; }
li{
    list-style:none;
}
#container .introduce{
    width:340px;
    background-color: #fff;
    left: 10px;
    top:38px;
    position: absolute;
    z-index: 5;
    max-height: calc(100% - 41px);
    overflow-y: auto;
}
#container .introduce .introTitle{
    color:#333;
    font-size:14px;
    height: 30px;
    line-height:30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position:relative;
}
#container .introduce .introTitle:after{
    content:"";
    position:absolute;
    height:1px;
    width:100%;
    background-color: #d0e4ff;
    left:0px;
    bottom: 0px;

}

#container .introduce .introContent{
    color:#999;
    font-size:12px;
    line-height:30px;
}

#container .introduce .introContent img{
    vertical-align: middle;
}
#container .introduce .bestTime:after{
    content:"";
    position:absolute;
    height:1px;
    width:100%;
    background-color: #d0e4ff;
    left:0px;
    bottom: 0px;
}

#container .introduce .scrollContent{
    min-height:60px;
    max-height:110px;
    color:#999;
    font-size:12px;
    line-height:20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#container .introduce .imgDisplay{
    padding:10px;
    position: relative;
    height: 140px;
    font-size:12px;

}
#container .introduce .imgDisplay img{
    width:320px;
    height: 150px;
}
#container .introduce .imgDisplay .backBtn{
    position: absolute;
    left:16px;
    top:16px;
    color:#fff;
    background-image:url(../img/scenery/icon_back.png);
    width:50px;
    height: 24px;
    cursor: pointer;
    text-indent:18px;
    line-height: 24px;
}
#container .introduce .imgDisplay .morePic{
    position: absolute;
    right:6px;
    bottom:6px;
    color:#fff;
    cursor: pointer;
    background-image:url(../img/scenery/icon_photos.png);
    width:42px;
    height: 24px;
    line-height: 24px;
    text-indent:24px;
}

.ng-cloak{
    display: none;
}
#container #content .searchList{
    position:absolute;
    left: 10px;
    top:10px;
    width:340px;
    z-index: 7;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(84, 98, 137, 0.3);

}
#container #content .searchList .searchInput{
    box-shadow: 0 3px 2px rgba(84, 98, 137, 0.3);
    height:30px;
}
#container #content .searchList .searchButton{
    width:60px;
    height:30px;
    cursor: pointer;
    background:#3385ff;
    color:#fff;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
#container #content .searchList input{
    margin:0px;
    height: 30px;
    line-height:14px;
    padding: 0;
    letter-spacing: .5px;
    font-size: 14px;
    border:none;
    outline: none;

}
#container #content .searchList .searchBar{
    display:inline-block;
    width:20px;
    margin:0px 10px;
    padding-top: 5px;
}
#container #content  .searchResult{
    padding:0px;
    font-size:14px;
    color:#333;
    margin:0px;
    overflow-y: auto;
    width:340px;
    z-index: 5;
    position:absolute;
    left:10px;
    top:38px;
    background-color: #fff;
    max-height: calc(100% - 41px);
    box-shadow: 0 1px 2px rgba(84, 98, 137, 0.3);
}
::-webkit-scrollbar {
    width:6px;
    height:20px;
    background-color: #80bdc4d2;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius:3px;
    background-color: #F4F5F7;
}
#container #content  .reltiveWords{
    padding:0px;
    margin:2px 0px 0px 0px;
    font-size:14px;
    color:#333;
    width:340px;
    z-index: 4;
    position:absolute;
    left:10px;
    top:38px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(84, 98, 137, 0.3);
}
#container #content  .searchResult img{
    width:140px;
    height:100px;
}
#container #content .searchResult li{
    position: relative;
    padding:0px 10px 10px;
    cursor: pointer;
}
#container #content  .searchResult li .borderLine{
    position:absolute;
    bottom: 0px;
    left:10px;
    height: 1px;
    width:95%;
    background-color:#D0E4FF;
}

#container #content .searchResult li:hover{
     background-color:#4393ff;
 }
#container #content .searchResult li:hover div{
    color:#fff;
}
#container #content .searchResult li:hover .numTitle{
    color:#fff;
}
#container #content .searchResult li:hover span{
    color:#fff;
}
#container #content  .searchResult li .postName{
    color:#333;
    line-height: 30px;
    height: 30px;
    font-size:14px;
}
#container #content .searchResult li div span{
    line-height: 20px;
    height: 20px;
    color:#999;
    font-size:12px;
}
#container #content .searchResult li .imgDes{
    margin-top:10px;
    height: 100px;
}
#container #content .searchResult .dotDis{
    width:170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#999;
}
#container #content  .searchResult .moreResult{
    font-size:12px;
    color:#999;
    text-align: center;
    height:30px;
    line-height:30px;
}
.mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content{
    padding:0;
    background: transparent;
    box-shadow: none;
}
.mapboxgl-map .mapboxgl-popup .mapboxgl-popup-tip{
    display:none;
}
.mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content .popStartIcon{
    background:url("../img/onlineMap/tollstation_finish.png");
    width:17px;
    height:30px;
    font-size: 12px;
    color: #ffffff;
    padding-top:3px;
    padding-left:8px;
    cursor: pointer;
}
.mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content div .feePopDeep{
    margin: 0;
    height: 24px;
    padding:2px 8px;
    min-width: 52px;
    line-height: 25px;
    color:#000;
    font-size: 12px;
    text-align: center;
    background-color:#fff;
    border-radius:2px;
}

.mapboxgl-map .mapboxgl-popup .mapboxgl-popup-content div .tipPopDeep{
    width: 0;
    height: 0;
    margin: 0px auto;
    border-width:6px 5px 0;
    border-style:solid;
    border-color:rgba(255,255,255,0.9) transparent transparent;
}
#container .swiperPic{
    background: rgba(37,57,110,0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    vertical-align: middle;
}
#container .swiperPic .centerBlock{
    width:840px;
    display:inline-block;
    vertical-align: middle;
    position: relative;
}
#container .swiperPic span{
    height:100%;
    width:0;
    vertical-align: middle;
    display:inline-block;
}
#container .swiperPic .disPic{
    height: 420px;
    background: rgba(37,57,110,0.2);
}
#container .swiperPic .centerBlock ul{
    display: flex;
    justify-content:flex-start;
    padding: 0;
    margin-top: 10px;
    width:100%;
    height:90px;
    position: absolute;
    left:0;
    top: 0px;
}
#container .swiperPic .centerBlock ul li{
    padding: 0;
    margin:0px 32px 30px 0px;
    width:112px;
    height:80px;
}
#container .swiperPic .centerBlock ul img{
    width:112px;
    height:80px;
    border: 4px solid rgba(37,57,110,0);
    padding: 0px ;
}
#container .swiperPic .centerBlock ul li:nth-of-type(1) img{
    border: 4px solid #1478ff;
}

#container .swiperPic .centerBlock .btn_all{
    display: block;
    width:40px;
    height:100px;
    position:absolute;
    top:158px;
}
#container .swiperPic .centerBlock .btn_all:hover{
    background-color:rgba(37,57,110,0.7);
}
#container .swiperPic .centerBlock .btn_left{
    background:url(../img/scenery/icon_arrow_left.png) no-repeat center;
    background-color:rgba(37,57,110,0.3);
    left:0px;
    display: none;
}

#container .swiperPic .centerBlock .btn_right{
    background:url(../img/scenery/icon_arrow_right.png) no-repeat center;
    background-color:rgba(37,57,110,0.3);
    right:0px;
}
#container .swiperPic .centerBlock .closePic{
    position: absolute;
    right: 10px;
    top:10px;
    cursor: pointer;

}
#container #content .reltiveWords .relativeResult{
    height: 30px;
}
#container #content .reltiveWords .relativeResult .logo{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #333333;
    background-image: url("../img/scenery/search_normal.png");
    background-repeat: no-repeat;
    background-position: center ;
    vertical-align:middle;
}
#container #content .reltiveWords .relativeResult:hover{
    background-color:#3385ff;
}
#container #content .reltiveWords .relativeResult:hover .logo{
    background-image: url("../img/scenery/search_active.png");
    background-repeat: no-repeat;
    background-position: center ;
}
#container #content .reltiveWords .relativeResult:hover span{
    color:#fff;
}
#container #content .reltiveWords .relativeResult .choiceWord{
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    max-width: 190px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color:#333;
    vertical-align:middle;
}

#container #content .searchList .noSearchResult .logo{
    display: inline-block;
    vertical-align:middle;
    width: 30px;
    height: 30px;
    background-image: url("../img/onlineMap/search_normal.png");
    background-repeat: no-repeat;
    background-position: center ;

}
#container #content .searchList .noSearchResult .noResult{
    color:#333;
    font-size: 12px;
    line-height:30px;
}
/***************************右下角按钮****************************/
.changeMapSizeDiv {
    position: absolute;
    z-index: 15;
    width: 20px;
    height: 50px;
    right: 10px;
    bottom: 10px ;
}
.addBtn{
    width: 20px;
    height: 20px;
    background-image: url("../img/onlineMap/button_max_normal.png");
    background-position: center;
    background-size: cover;
    outline: none;
    margin-bottom: 10px;
    border: 0;
    box-shadow: 0 1px 3px rgba(84, 98, 137, 0.3);
}
.addBtn:hover,.addBtn:active{
    background-image: url("../img/onlineMap/button_max_active.png");
}
.subBtn{
    width: 20px;
    height: 20px;
    background-image: url("../img/onlineMap/button_min_normal.png");
    background-position: center;
    outline: none;
    border: 0;
    box-shadow: 0 1px 2px rgba(84, 98, 137, 0.3);
}
.subBtn:hover,.subBtn:active{
    background-image: url("../img/onlineMap/button_min_active.png");
}

/*-------------------------------scenery--------------------------------------*/
#content{
    width: calc(100% - 420px);
    height: calc(100% - 144px);
    position: absolute;
    box-sizing: border-box;
}
#map{
    width: 100%;
    height: calc(100% - 58px);
    border:1px solid #c5cee6;
    box-sizing: border-box;

}
.selectedDiv{
    right:10px;
    top: 10px;
    position: absolute;
    z-index: 50;
}
.selectedDiv .nowCity{
    padding-right: 13px;
    text-align: center;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    cursor: pointer;
    background-image:url("../img/onlineMap/arrow_normal.png");
    background-repeat: no-repeat;
    background-position: 60px 13px;
    box-sizing: border-box;
    box-shadow: 0 3px 2px  rgba(84, 98, 137, 0.3);
}
.selectedDiv .nowCity >span{
    color: rgb(51,51,51);
    font-size: 12px;
}
.selectedDiv .choosedCity {
    padding-left: 10px;
    width: 280px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    z-index: 200;
    border: none;
    background: #ffffff;
    outline: none;
    cursor: pointer;
    display: none;
    box-sizing: border-box;
    box-shadow: 0 3px 2px rgba(84, 98, 137, 0.3);
}
.selectedDiv .choosedCity span{
    color: #1478FF;
    font-size: 12px;
}
.selectedDiv .choosedCity .hideCityList{
    position: absolute;
    top: 13px;
    right: 10px;
}
.cityList{
    height: 175px;
    width: 280px;
    padding: 5px 10px;
    background-color: #ffffff;
    display: none;
    position: absolute;
    z-index: 15;
    top:30px;
    right: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(84, 98, 137, 0.3);

}
.cityFirstLetterList{
    width: 100%;
    height: 50px;
    padding-top: 3px;
    color: #1478FF;
}
.firstLetter{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
}
.firstLetter >a{
    font-size: 12px;
    color: #1478FF;
}
.indexLetter a{
    text-decoration: none;
    color: #999999;
}
.allFirstLetters{
    margin: 0;
    padding: 0;
}
.allCities{
    width: 100%;
    height: 110px;
    overflow: auto;
    border-top: 1px solid #d0e4ff;
    border-bottom:1px solid #d0e4ff;
}
/*滚动条*/

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background:#F4F5F7;
    padding-top: 2px;
    padding-bottom: 2px;
}

*::-webkit-scrollbar-thumb {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background:rgba(189,196,210,0.5);
}

.allCities .allCitiesList{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.allCities .allCitiesList > li{
    list-style-type: none;
    width: 100%;
}
.allCities .allCitiesList > li .indexLetter{
    display: inline-block;
    font-size: 12px;
    color: #cccccc;
    width: 15px;
    padding: 0;
    text-decoration: none;
}
.allCities .allCitiesList > li .citiesBox{
    height: auto;
}
.allCities .allCitiesList > li .citiesBox ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.allCities .allCitiesList > li .citiesBox ul li{
    display: inline-block;
    font-size: 12px;
    list-style-type: none;
    color: #333333;
    padding-left: 8px;
    cursor:pointer ;
}
.allCities .allCitiesList > li .citiesBox ul li:not([title='北京']){
    cursor:not-allowed ;
}
.allCities .allCitiesList > li .citiesBox ul li> span:hover,
.allCities .allCitiesList > li .citiesBox ul li> span:active{
    color: #1478FF;
}
.allCities .allCitiesList > li .citiesBox ul li > span{
    color: #333333;
    font-size: 12px;
}

.mapboxgl-popup .mapboxgl-popup-content .popTollGateIconHeightLight{

    position: relative;
    z-index: 500;
    background:url("../img/onlineMap/POI_blue.png");
    width: 25px;
    height: 34px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 25px;
    color: #ffffff;
    position: relative;
    z-index: 500;
    text-align:center;
    cursor: pointer;

}
/***************************判断是否显示删除按钮****************************************************/
.deleteBtn{
    display: none;
}
.showDeleteBtn {
    cursor: pointer;
    display: inline-block;
    margin-right: 16px;
    margin-top: 11px;
    cursor: pointer;
    float: right;
}
.hideDeleteBtn {
    display: none;
}
input{
    color:#333;
}
::-webkit-input-placeholder { /* WebKit browsers */
    　　color:#999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    　　color:#999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    　　color:#999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    　　color:#999;
}

/****test****/
#content .routeSpecial{
    position:absolute;
    right:20px;
    top:20px;
    z-index:10
}
#content .routeSpecial ul{
    padding:0px;
    margin:0px;
}
#content .routeSpecial li{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 80px;
    color: #666666;
    font-size: 12px;
    line-height: 30px;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(15, 51, 26, 0.2);
    border-bottom: none;

}
#content .routeSpecial .active{
    color:#1478FF;
}
#content .routeSpecial li:last-of-type{
    border: 1px solid rgba(15, 51, 26, 0.2);
}



