/******重置样式*******/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
html,body{
    font-family: 'Microsoft YaHei','微软雅黑',Arial,sans-serif;
    color: #333333;
    font-size: 16px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.wrapper{
    margin:0 auto;
    width:calc(100% - 200px);
    padding-top: 55px;
}
.clear:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
li{
    list-style: none;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul, dl, dt, input, p, dd {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
    border: none;
}
/*滚动条*/
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background:#F4F5F7;
    padding-top: 2px;
    padding-bottom: 2px;
}

*::-webkit-scrollbar-thumb {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background:rgba(189,196,210,0.5);
}
/******* content *******/
#logo {
    float: left;
    background: url(../img/banner/logo.png) no-repeat;
    height: 44px;
    width: 100px;
}
.content .topSquare{
    width:100%;
    height:40px;
    background-color: #263a6c;
    margin-bottom: 30px;
}
.content .wrapper .title{
    font-size: 30px;
    text-align: center;
    padding: 10px 0px;
}
.content .wrapper .sumStatis{
    margin-bottom: 20px;
}
.content .wrapper .sumStatis .sumIcon{
    font-size:18px;
    text-indent: 30px;
    background: url(../img/statisticInfo/sum.png) no-repeat left;
    line-height: 40px;
}
.content .wrapper .sumStatis .sumClass{
    width:705px;
}
.content .wrapper .sumStatis .sumClass .topSum{
    height:40px;
    background-color: #e2e9f3;
    text-align: center;
    line-height: 40px;
}
.content .wrapper .sumStatis .sumClass .topBot{
    height: 120px;
    border:1px solid #eeeeee;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    justify-content: space-around;
    align-items: center;
}
.content .wrapper .sumStatis .sumClass .topBot .every{
    text-align: center;
    line-height: 40px;
    color:#FFFFFF;
}
.content .wrapper .sumStatis .sumClass .topBot .every .sumNum{
    padding:0px 10px;
    border:1px solid #dedede;
    box-sizing: border-box;
    color:#333333;
    font-size: 18px;
    font-family: Arial;
}
.content .wrapper .sumStatis .sumClass .topBot .every .poiNum {
    padding:0px 22px;
}
.content .wrapper .dailyStatis{
    margin-bottom: 20px;
}
.content .wrapper .dailyStatis .dailyIcon{
    font-size:18px;
    text-indent: 30px;
    background: url(../img/statisticInfo/daily.png) no-repeat left;
    line-height: 40px;
}
.content .wrapper .dailyStatis .firstCol{
    height: 45px;
    border:1px solid #eeeeee;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    line-height: 45px;
}
.content .wrapper .dailyStatis .firstCol div{
    background-color:#e2e9f3;
    text-align: center;
}
.content .wrapper .dailyStatis .firstCol div:nth-of-type(1){
    padding: 0px 37px;
}

.content .wrapper .dailyStatis .firstCol div:nth-of-type(2){
    padding: 0px 60px;
}

.content .wrapper .dailyStatis .firstCol div:nth-of-type(3){
    padding: 0px 87px;
}

.content .wrapper .dailyStatis .firstCol div:nth-of-type(4){
    padding: 0px 92px;
}
.content .wrapper .dailyStatis .secondCol{
    height: 45px;
    border:1px solid #eeeeee;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    line-height: 45px;
}
.content .wrapper .dailyStatis .secondCol div{
    background-color:#e2e9f3;
    text-align: center;
}
.content .wrapper .dailyStatis .secondCol div:nth-of-type(1){
    width: 95px;
}

.content .wrapper .dailyStatis .secondCol div:nth-of-type(2){
    width: 185px;
}

.content .wrapper .dailyStatis .secondCol div:nth-of-type(3){
    width: 210px;
}

.content .wrapper .dailyStatis .secondCol div:nth-of-type(4){
    width: 250px;
}

.content .wrapper .dailyStatis .totalList .dataList{
    overflow:auto;
    height: 250px;
}
.content .wrapper .dailyStatis .totalList .dataList li{
    height: 50px;
    background-color:#f2f6fa;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    justify-content: space-around;
    line-height: 50px;
    font-family: Arial;
}
.content .wrapper .dailyStatis .totalList .dataList li div {
   text-align: center;
}
.content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(1) {
    width:95px;
}
.content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(2) {
    width:185px;
}
.content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(3){
    width:210px;
}
.content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(4){
    width:246px;
}
.content .wrapper .dailyStatis .totalList .circleRe{
    width:850px;
    height: 260px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(65, 73, 85, 0.3);
    border-radius: 2px;
    padding:20px 30px;
}
.content .wrapper .dailyStatis .totalList .circleRe .elementPer{
    float: left;
    width: 50%;
}
.content .wrapper .dailyStatis .totalList .circleRe .elementPer span{
    margin-right: 13px;
    font-family: Arial;
}

.darkBlueIcon {
    background: url(../img/statisticInfo/darkBlueIcon.png) 50% 50% no-repeat;
    width: 12px;
    height: 24px;
}
.content .wrapper .dailyStatis .totalList .circleRe .picIntro{
    display: inline-block;
    width:12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 13px;
    vertical-align: middle;
}
.content .wrapper .dailyStatis .totalList .circleRe .picMark {
    font-size:14px;
    float: right;
}
.content .wrapper .dailyStatis .totalList .circleRe .picMark li{
    line-height: 30px;

}
.content .wrapper .dailyStatis .totalList .hoverStyle li:hover{
    background-color: #ebf1f5;
    cursor: pointer;
}
.content .wrapper .dailyStatis .totalList .hoverStylePro li:hover{
    background-color: #ebf1f5;
    cursor: pointer;
}
.content .wrapper .dailyStatis .totalList .circleRe .poiPos{
    position: absolute;
    left:158px;
    top: 117px;
    font-family: Arial
}
.content .wrapper .dailyStatis .totalList .circleRe .roadPos{
    position: absolute;
    right:156px;
    top: 114px
}
#arrowTop{
    position: absolute;
    left:873px;
    top:409px;
}
#arrowBot{
    position: absolute;
    left:873px;
    top:769px;
}
#borderTop{
    width: 3px ;
    background-color:#5fb723;
    height: 47px;
    position: absolute;
    left:100px;
    top:424px;
}
#borderBot{
    width: 3px ;
    background-color:#5fb723;
    height: 47px;
    position: absolute;
    left:100px;
    top:784px;
}

/*媒体查询*/
@media (min-width: 1681px) and (max-width: 1900px){
    .wrapper{
        margin:0 auto;
        min-width:1714px;
        overflow-x: scroll;
        padding: 0px 100px;
        padding-top: 55px;
    }
}

@media (width: 1680px){
    body{
        font-size: 14px;
    }
    .content .wrapper .sumStatis .sumIcon{
        font-size:16px;
        line-height: 30px;
    }
    .content .wrapper .dailyStatis .dailyIcon {
        font-size: 16px;
        line-height: 30px;
    }
    .content .wrapper .sumStatis .sumClass {
        width: 550px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe {
        width: 640px;
    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(1) {
        padding: 0px 38px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(2) {
        padding: 0px 60px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(3) {
        padding: 0px 85px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(4) {
        padding: 0px 86px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer{
        width: auto;
        margin-right: 10px;
        font-size: 12px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer:nth-of-type(1){
        width: 255px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer span {
        margin-right: 2px;
    }
    .content .wrapper .dailyStatis .secondCol div:nth-of-type(1){
        width: 100px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(2){
        width: 148px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(3){
        width: 208px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(4){
        width: 244px;
    }

    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(1) {
        width:100px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(2) {
        width:148px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(3){
        width:208px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(4){
        width:240px;
    }
    #arrowTop{
        left:839px;
        top:399px;
    }
    #arrowBot{
        left:839px;
        top:769px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .poiPos{
        left:112px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .roadPos{
        right:110px;
    }

    #borderTop{
        top:404px;
    }
    #borderBot{
        top:754px;
    }
}
@media  (min-width: 1602px)and (max-width: 1679px) {
    .wrapper{
        margin:0 auto;
        width:1474px;
        overflow-x: scroll;
        padding: 0px 100px;
        padding-top: 55px;
    }
    body{
        font-size: 14px;
    }
    .content .wrapper .sumStatis .sumIcon{
        font-size:16px;
        line-height: 30px;
    }
    .content .wrapper .dailyStatis .dailyIcon {
        font-size: 16px;
        line-height: 30px;
    }
    .content .wrapper .sumStatis .sumClass {
        width: 550px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe {
        width: 640px;
    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(1) {
        padding: 0px 38px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(2) {
        padding: 0px 60px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(3) {
        padding: 0px 85px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(4) {
        padding: 0px 86px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer{
        width: auto;
        margin-right: 10px;
        font-size: 12px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer:nth-of-type(1){
        width: 255px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer span {
        margin-right: 2px;
    }
    .content .wrapper .dailyStatis .secondCol div:nth-of-type(1){
        width: 100px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(2){
        width: 148px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(3){
        width: 208px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(4){
        width: 244px;
    }

    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(1) {
        width:100px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(2) {
        width:148px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(3){
        width:208px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(4){
        width:240px;
    }
    #arrowTop{
        left:839px;
        top:399px;
    }
    #arrowBot{
        left:839px;
        top:769px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .poiPos{
        left:112px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .roadPos{
        right:110px;
    }

    #borderTop{
        top:404px;
    }
    #borderBot{
        top:754px;
    }
}

@media (width: 1600px){
    body{
        font-size: 14px;
    }
    .content .wrapper .sumStatis .sumClass {
        width: 555px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe {
        width: 630px;
        padding: 10px 20px;
        height:276px;
    }
    .content .wrapper .sumStatis .sumClass .topBot .every .poiNum {
        padding: 0px 15px;
    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(1) {
        padding: 0px 33px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(2) {
        padding: 0px 51px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(3) {
        padding: 0px 78px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(4) {
        padding: 0px 79px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer{
        width: auto;
        margin-right: 10px;
        font-size: 12px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer:nth-of-type(1){
        width: 255px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer span {
        margin-right: 2px;
    }
    .content .wrapper .dailyStatis .secondCol div:nth-of-type(1){
        width: 80px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(2){
        width: 130px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(3){
        width: 210px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(4){
        width: 226px;
    }

    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(1) {
        width:80px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(2) {
        width:130px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(3){
        width:210px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(4){
        width:222px;
    }
    #arrowTop{
        left:789px;
        top:419px;
    }
    #arrowBot{
        left:789px;
        top:786px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .poiPos{
        left:113px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .roadPos{
        right:110px;
    }

    #borderTop{
        top:424px;
    }
    #borderBot{
       top:781px;
    }

}
@media  (min-width: 1445px)and (max-width: 1659px) {
    .wrapper {
        margin: 0 auto;
        width: 1394px;
        overflow-x: scroll;
        padding: 0px 100px;
        padding-top: 55px;
    }
    body{
        font-size: 14px;
    }
    .content .wrapper .sumStatis .sumClass {
        width: 555px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe {
        width: 630px;
        padding: 10px 20px;
        height:276px;
    }
    .content .wrapper .sumStatis .sumClass .topBot .every .poiNum {
        padding: 0px 15px;
    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(1) {
        padding: 0px 33px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(2) {
        padding: 0px 51px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(3) {
        padding: 0px 78px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(4) {
        padding: 0px 79px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer{
        width: auto;
        margin-right: 10px;
        font-size: 12px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer:nth-of-type(1){
        width: 255px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer span {
        margin-right: 2px;
    }
    .content .wrapper .dailyStatis .secondCol div:nth-of-type(1){
        width: 80px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(2){
        width: 130px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(3){
        width: 210px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(4){
        width: 226px;
    }

    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(1) {
        width:80px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(2) {
        width:130px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(3){
        width:210px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(4){
        width:222px;
    }
    #arrowTop{
        left:789px;
        top:419px;
    }
    #arrowBot{
        left:789px;
        top:786px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .poiPos{
        left:113px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .roadPos{
        right:110px;
    }

    #borderTop{
        top:424px;
    }
    #borderBot{
        top:781px;
    }
}

@media  (width: 1440px) {
    body{
        font-size: 12px;
    }
    .content .wrapper .sumStatis .sumClass {
        width: 450px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe {
        width: 580px;
        padding: 7px 10px;
        height:278px;
    }
    .content .wrapper .sumStatis .sumClass .topBot .every .sumNum {
        font-size: 14px;
    }
    .content .wrapper .sumStatis .sumClass .topBot .every .poiNum {
        padding: 0px 15px;
    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(1) {
        padding: 0px 20px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(2) {
        padding: 0px 33px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(3) {
        padding: 0px 52px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(4) {
        padding: 0px 58px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer{
        width: auto;
        margin-right: 0px;
        font-size: 12px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .picMark {
        font-size: 12px;
        line-height: 20px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer:nth-of-type(1){
        width: 245px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer span {
        margin-right: 0px;
    }
    .content .wrapper .dailyStatis .secondCol div:nth-of-type(1){
        width: 60px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(2){
        width: 94px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(3){
        width: 154px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(4){
        width: 162px;
    }

    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(1) {
        width:60px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(2) {
        width:94px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(3){
        width:154px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(4){
        width:158px;
    }
    #arrowTop{
        left:596px;
        top:399px;
    }
    #arrowBot{
        left:596px;
        top:766px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .poiPos{
        left:105px;
        top:120px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .roadPos{
        right:105px;
        top:116px;
    }

    #borderTop{
        top:392px;
    }
    #borderBot{
        top:751px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .perTitle{
        line-height: 20px;
    }

}
@media (min-width:1300px) and (max-width: 1445px){
    body{
        font-size: 12px;
    }
    .wrapper {
        margin: 0 auto;
        width: 1234px;
        overflow-x: scroll;
        padding: 0px 100px;
        padding-top: 55px;
    }
    .content .wrapper .sumStatis .sumClass {
        width: 480px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe {
        width: 580px;
        padding: 7px 10px;
        height:276px;
    }
    .content .wrapper .sumStatis .sumClass .topBot .every .sumNum {
        font-size: 14px;
    }
    .content .wrapper .sumStatis .sumClass .topBot .every .poiNum {
        padding: 0px 15px;
    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(1) {
        padding: 0px 26px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(2) {
        padding: 0px 40px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(3) {
        padding: 0px 70px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(4) {
        padding: 0px 65px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer{
        width: auto;
        margin-right: 0px;
        font-size: 12px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .picMark {
        font-size: 12px;
        line-height: 20px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer:nth-of-type(1){
        width: 245px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer span {
        margin-right: 0px;
    }
    .content .wrapper .dailyStatis .secondCol div:nth-of-type(1){
        width: 80px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(2){
        width: 110px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(3){
        width: 170px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(4){
        width: 186px;
    }

    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(1) {
        width:80px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(2) {
        width:110px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(3){
        width:170px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(4){
        width:182px;
    }
    #arrowTop{
        left:699px;
        top:419px;
    }
    #arrowBot{
        left:699px;
        top:796px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .poiPos{
        left:105px;
        top:120px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .roadPos{
        right:105px;
        top:116px;
    }

    #borderTop{
        top:424px;
    }
    #borderBot{
        top:781px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .perTitle{
        line-height: 20px;
    }

}
@media (width:1366px) {
    .wrapper {
        margin: 0 auto;
        width: 1234px;
        overflow-x: scroll;
        padding: 0px 2px 0px 0px;
        padding-top: 55px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe {
        width: 610px;
        padding: 7px 10px;
        height:276px;
    }
    #arrowTop{
        left:632px;
    }
    #arrowBot{
        left:632px;
    }
    #borderTop{
        left:64px;
    }
    #borderBot{
        left:64px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .poiPos{
        left:110px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .roadPos{
        right:109px;
    }
}

@media (width:1360px) {
    .wrapper {
        margin: 0 auto;
        width: 1234px;
        overflow-x: scroll;
        padding: 55px 2px 0px 0px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe {
        width: 605px;
        padding: 7px 10px;
        height:276px;
    }
    #arrowTop{
        left:632px;
    }
    #arrowBot{
        left:632px;
    }
    #borderTop{
        left:60px;
    }
    #borderBot{
        left:60px;
    }
}


@media  (max-width: 1299px) {
    html,body{
        font-size: 12px;
    }
    .content .topSquare {
        width: 1390px;
    }
    .wrapper{
        margin:0 auto;
        min-width:1350px;
        overflow: auto;
        padding: 0px 20px;
        padding-top: 55px;
    }
    .content .wrapper .sumStatis .sumClass {
        width: 580px;
    }
    #borderTop{
        left:20px;
    }
    #borderBot{
        left:20px;
        top:769px;
    }
    #arrowBot{
        left:655px;
        top:769px;
    }
    #arrowTop{
        left:655px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .poiPos{
        left:112px;
    }

    .content .wrapper .dailyStatis .totalList .circleRe {
        width: 620px;
    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(1) {
        padding: 0px 30px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(2) {
        padding: 0px 44px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(3) {
        padding: 0px 87px;

    }
    .content .wrapper .dailyStatis .firstCol div:nth-of-type(4) {
        padding: 0px 70px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer{
        width: auto;
        margin-right: 10px;
        font-size: 12px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer:nth-of-type(1){
        width: 255px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .elementPer span {
        margin-right: 2px;
    }
    .content .wrapper .dailyStatis .secondCol div:nth-of-type(1){
        width: 72px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(2){
        width: 167px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(3){
        width: 140px;
    }

    .content .wrapper .dailyStatis .secondCol div:nth-of-type(4){
        width: 225px;
    }

    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(1) {
        width:72px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(2) {
        width:167px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(3){
        width:140px;
    }
    .content .wrapper .dailyStatis .totalList .hoverStylePro li div:nth-of-type(4){
        width:220px;
    }

    .content .wrapper .dailyStatis .totalList .circleRe .poiPos{
        left:112px;
    }
    .content .wrapper .dailyStatis .totalList .circleRe .roadPos{
        right:110px;
    }

}






