.main_div{
    width: 100%;
    border: none;
    margin-top: 20px;
}
.main_div>div:not(:last-child){
    border-bottom: 1px solid black;
}

.main_div p{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
}
.main_div .p1{
    font-size: 22px;
}
.main_div .fontColor{
    color: rgba(0,0,0,0.7);
}
.main_div .p2{
    margin-bottom: 176px;
}
/*.main_div .p3>img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}*/
.main_div .p3::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/produceService/icon-675084.png");
    background-repeat: no-repeat;
    background-size: 24px;
}
.main_div .p3{
    font-size: 20px;
    position: relative;
    text-indent: 30px;
}
.main_div .p4{
    width: 393px;
    padding-bottom: 28px;
    border-bottom: 1px solid black;
    margin-bottom: 48px;
}
.main_div .p5{
    margin-bottom: 48px;
}
.main_div .p6{
    margin-bottom: 48px;
    text-indent: 15px;
    font-family: Arial, 微软雅黑, Arial, sans-serif;
    color: rgba(0,0,0,0.7);
}
.main_div .p7{
    margin-bottom: 190px;
    text-indent: 15px;
    font-family: Arial, 微软雅黑, Arial, sans-serif;
    color: rgba(0,0,0,0.7);
}
.main_div .p6::after{
    content: "";
    display: block;
    background-color: gray;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: relative;
    left: 0;
    top: -32px;

}

.main_div .p7::after{
    content: "";
    display: block;
    background-color: gray;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: relative;
    left: 0;
    top: -14px;
}

.main_div .p8{
    margin-top: 113px;
    font-size: 20px;
    text-indent: 28px;
    position: relative;
}

.main_div .p9{
    padding-bottom:28px;
    width: 393px;
    border-bottom: 1px solid black;
    margin-bottom: 65px;
}
.main_div .p10{
    margin-bottom: 36px;
    position: relative;
}
.main_div .p11{
    padding-left: 20px;
    box-sizing: border-box;
}
.main_div .p12{
    margin-bottom: 65px;
}
.main_div .p13{
    margin-bottom: 47px;
    position: relative;
}
.icon{
    text-indent: 25px;
}
.icon::after{
    content: "";
    background-image: url("../img/produceService/icon-259863.png");
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background-size:100% 80%;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}
.titleIcon::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../img/produceService/icon-505752.png");
    background-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
}

.button{
    text-decoration: none;
    display: block;
    width: 119px;
    height: 44px;
    background-color:#169bd5 ;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 44px;
    float: left;
}
.cle{
    clear: both;
}
.f_l{
    float: left;
}
.f_r{
    float: right;
}
.m_l{
    margin-left: 25px;
}
.p_service{
    width: 100%;
    height: 46px;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 46px;
}
.coor_div{
    line-height: 132px;
    margin-bottom: 67px;
    overflow: hidden;
}
.coor_div>span{
    display: inline-block;
    height: 130px;
    line-height: 130px;
    color: black;
}
.coor_p{
    width: 609px;
    height: 130px;
    border-radius: 5px;
    border: 1px solid black;
    display:block;
    line-height: 15px;
    -ms-word-break: break-all;
    word-break: break-all;
    padding: 20px!important;
    overflow-x:hidden ;
    overflow-y: scroll;
    box-sizing: border-box;
}
.ret_val{
    width: 100%;
    height: 364px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 129px!important;
}
.main_div .user_feedback{
    font-size: 20px;
    text-indent:28px;
    position: relative;
    margin-top: 113px!important;
}
.user_feedback::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/produceService/icon-642083.png");
    background-repeat: no-repeat;
    background-size: 24px;
    position: absolute;
    top: 2px;
    left: 0;

}
.main_div .margin1{
    margin-top: 22px;
    margin-bottom: 84px;
}
.main_div .margin2{
    margin-top: 70px;
}
.main_div .margin3{
    margin-top: 84px;
}
.main_div .request{
    color: #169bd5;
    margin :39px auto 35px auto;
}
.button_father{
    margin-bottom: 51px;
    overflow: hidden;
}
.main_div .a1{
    margin-left: 20px;
}
