<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!-- build:css ../style/construction.css -->
    <link href='../lib/mapbox/mapbox-gl.css' rel='stylesheet' />
    <link href="../style/construction.css" rel="stylesheet" />
    <!-- endbuild -->
    <title>SMap</title>
</head>
<body ng-app="construction" ng-controller="constructionController">
<nav-bar loc="locFlag"></nav-bar>

<div id="container">
    <div style="height: 56px;text-align: left;font-weight: 400;margin-bottom: 2px">
        <ul style="list-style: none;margin: 0;vertical-align: middle;padding: 22px 0 0 0;display: flex;display: -ms-flexbox;">
           <li style="font-size: 14px;color:rgba(0,0,0,0.7)">您现在的位置:</li>
           <li style="font-size: 14px;padding-left: 5px;color:rgba(0,0,0,0.7)">在线体验</li>
           <li style="font-size: 20px;padding:0 4px 0 9px;margin-top: -6px; ;color:rgba(0,0,0,1)">></li>
           <li style="font-size: 14px;padding-left: 5px; color:rgba(0,0,0,0.7)">施工数据展示</li>
        </ul>
    </div>
    <div id="content">
        <div class="selectedDiv">
            <div class="nowCity" ng-style="nowCity" ng-click="showChoosedCity('nowCity')">
                <span ng-bind="nowProvince"></span>
            </div>
            <div class="choosedCity" ng-style="choosedCity">
                <span ng-bind="nowProvince"></span>
                <img class="hideCityList" ng-click="showChoosedCity('choosedCity')" src="../img/onlineMap/arrow_active.png">
            </div>
            <div class="cityList" ng-style="cityList">
                <div class="cityFirstLetterList" >
                    <ul class="allFirstLetters ">
                        <li class="firstLetter" ng-repeat="item in captureArr" ng-click="goCapture(item)">{{item}}</li>
                    </ul>
                </div>
                <div class="allCities">
                    <ul class="allCitiesList">
                        <li ng-repeat=" firstObj in provinceArr">
                            <a class="indexLetter" id=capture{{firstObj.capture}} ng-bind="firstObj.capture" ></a>
                            <span class="citiesBox">
                            <ul>
                                <li title="{{secondObj.name}}"  ng-repeat="secondObj in firstObj.children" ng-click="locationProvince(secondObj)">
                                    <span ng-bind="secondObj.name"></span>
                                </li>
                            </ul>
                        </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="map">

    </div>
</div>
</body>

<!-- build:js ../js/construction.js -->
<script src='../lib/mapbox/mapbox-gl.js'></script>
<script src="../config/Application.js"></script>
<script src="../config/layer.js"></script>
<script src="../config/peovince.js"></script>
<script src="../lib/jquery/jquery.js"></script>
<script src='../lib/turf/turf.min.js'></script>
<script src="../lib/angularjs/1.4.4/angular.js"></script>
<script src="../js/construction.js"></script>
<script src="../js/directives/nav/nav.js"></script>
<!-- endbuild -->

<script src="../js/directives/nav/nav.js"></script>



</html>
