<!DOCTYPE html>
<html lang="en" ng-app="tollGate">
<head>
    <meta charset="UTF-8">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <script src="../config/layer.js"></script>
    <script src="../config/peovince.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../lib/switch/pageSwitch.min.css">
    <!--[if lt IE 10]>
    <link rel="stylesheet" href="../style/ie9.css">
    <![endif]-->
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/onlineMap.css">
    <title>SMap</title>
</head>
<body  ng-controller="tollGateController">
<div style="width: 100%;padding: 0px 210px;margin-top: -44px;background: #25396e; height: 44px">
    <div style="width:100%;height: 100%;">
        <div style="float: right;">
            <div id="homePage" class="topTittle">
                <div  style="height: 36px;padding: 10px">
                    <a style="font-size: 14px;color: white;text-decoration: none" href="../index.html">
                        首页
                    </a>
                </div>
                <div id="homePageBottom"
                     style="height: 4px;width: 100%;">

                </div>
            </div>
            <div  class="topTittle" style="padding: 0px 0px 0px 50px">
                <div id="solution" style="height: 36px; padding: 10px;">
                    <a href="undevelopPage.html" style="font-size: 14px;color: white;text-decoration: none">
                        解决方案
                    </a>
                </div>
                <div id="solutionBottom"
                     style="height: 4px;width: 100%;">

                </div>
            </div>
            <div  class="topTittle" style="padding: 0px 0px 0px 50px">
                <div id="service" style="height: 36px; padding: 10px;text-shadow: 0 1px 10px #000"
                     onmouseleave="hideMenu('produceService')" onmouseover="showMenu('produceService', 0)">
                        <span>
                            产品服务
                        </span>
                </div>
                <div id="serviceBottom"
                     style="height: 4px;width: 100%;">
                </div>
                <div style="width: 76px;position: absolute;margin-top: -4px;"
                     onmouseenter="showMenu('produceService', 1)"  onmouseleave="hideMenu('produceService')">
                    <div class="menuDataServiceGrid" ></div>
                    <div id="serviceInterfaceNav" class="menu box-shadow" style="height: 40px">
                        <div style="padding: 10px 10px;font-size: 14px;text-shadow: 0 1px 10px #000">
                            <span onclick=" hideWaresMenu()">
                                服务接口
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="topTittle" style="padding: 0px 0px 0px 50px;" >
                <div id="produce" style="height: 36px; padding: 10px;"  onmouseleave="hideMenu('produceWares')" onmouseover="showMenu('produceWares', 0)">
                        <span >
                            产品仓库
                        </span>
                </div>
                <div id="produceBottom"
                     style="height: 4px;width: 100%;">
                </div>
                <div style="width: 300px;position: absolute;margin-top: -4px;display:inline-block"
                     onmouseenter="showMenu('produceWares', 1)" onmouseleave="hideMenu('produceWares')">
                    <div class="menuWaresGrid" ></div>
                    <div id="produceHouseNav"  class="menu box-shadow" style="position: absolute;z-index: 25">
                        <div style="padding: 10px 10px" onclick="directToDescription()">
                            <span >产品介绍</span>
                        </div>
                        <div style=" padding: 10px 10px;">
                            <span  onmouseover="showSonMenu()"onmouseleave="hideSonMenu()">产品下载</span>
                        </div>
                        <div style=" padding: 10px 10px;">
                            <span onmouseover="showOnlineUse()" onmouseleave="hideOnlineUse()">在线体验</span>
                        </div>

                        <!--<div style="padding: 20px 10px">
                           <span style="font-size: 18px" onmouseover="showSonMenu()">规格查询</span>
                       </div>-->
                    </div>
                    <div id="produceHouseNavOfSon" class="box-shadow"
                         style="display:none; color: #fff;float: left;width: 100px;height:240px;background: rgb(10, 33, 70);position: absolute;z-index: 25;left: 72px">
                        <div style="padding: 10px;text-shadow: 0px 1px 10px #000000">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=11&&specName=IDB"
                                    style="font-size: 14px; text-decoration: none;">
                                IDB
                            </a>
                        </div>
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=12&&specName=NIMIF-G"
                                    style="font-size: 14px; text-decoration: none;">
                                NIMIF-G</a>
                        </div>
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=13&&specName=NAVEX"
                                    style="font-size: 14px; text-decoration: none;">
                                NAVEX</a>
                        </div>
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=14&&specName=AIF"
                                    style="font-size: 14px; text-decoration: none;">
                                AIF</a>
                        </div>
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=15&&specName=NIGDF-G"
                                    style="font-size: 14px; text-decoration: none;">
                                NIGDF-G</a>
                        </div>
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=16&&specName=NIMIF-K"
                                    style="font-size: 14px; text-decoration: none;">
                                NIMIF-K</a>
                        </div>
                    </div>
                    <div id="onlineUse" class="box-shadow" style="display: none;margin-left: -2px;color: #fff;float: left; margin-top:95px;width: 100px;height:50px;background: rgb(10, 33, 70);position: absolute;z-index: 25;left: 78px" onmouseover="showOnlineUse()" onmouseleave="hideOnlineUse()">
                        <div class ="info" style="padding: 2px;text-align: center">收费信息查询</div>
                        <div class ="info" style="padding: 2px;text-align: center">地图数据查询</div>
                    </div>
                </div>
            </div>
            <div  class="topTittle" style="padding: 0px 0px 0px 50px;">
                <div id="support" style="height: 36px; padding: 10px;">
                    <a href="undevelopPage.html" style="font-size: 14px;color: white;text-decoration: none">
                        技术支持
                    </a>
                </div>
                <div id="supportBottom"
                     style="height: 4px;width: 100%;">

                </div>
            </div>
            <div  class="topTittle" style=" padding: 0px 0px 0px 50px;">
                <div id="login" style="height: 36px; padding: 10px;">
                    <a href="undevelopPage.html" style="font-size: 14px;color: white;text-decoration: none">
                        登录
                    </a>
                </div>
                <div id="loginBottom"
                     style="height: 4px;width: 100%;">

                </div>
            </div>
        </div>
        <div id="logo"></div>
    </div>
</div>
<div class ="content">

    <div style="height: 46px;line-height:46px;text-align: left;font-weight: 400;margin-top: -46px">
        您现在的位置：产品仓库 <span style="font-size: 20px;margin: auto 7px;color: #0f0f0f;display: inline">></span> 在线体验 <span style="font-size: 20px;margin: auto 7px;color: #0f0f0f;display: inline">></span> 收费信息查询
    </div>
    <div  class="onlineMap" style="clear: both">
        <div class=" leftSearchDiv">
            <div style="width: 280px;background-color: #ffffff; box-shadow: 0 3px 2px  rgba(84, 98, 137, 0.3);">
                <div class="input-group btn-group">
                    <button
                        class="btn searchbar-exchange"
                        id="exchangeInput"
                        type="button"
                     >
                    </button>
                    <input type="text"
                           placeholder="请输入起点收费站"
                           class="searchbar placeholderStyle "
                           id="startStation"
                           ng-model="startTollGate"
                           ng-change="searchStartTollGate()"
                           style="background-image:url('../img/onlineMap/startingpoint.png'); border-bottom:1px solid #d0e4ff;"
                    >
                    <img
                            class="empty-input"
                            id="emptyStartStation"
                            ng-click="emptyInput('startStation')"
                            src="../img/onlineMap/searchbar_close.png"
                    >
                    <input type="text"
                           placeholder="请输入终点收费站"
                           class="searchbar placeholderStyle"
                           ng-style="endStationStyle"
                           id="endStation"
                           ng-model="endTollGate"
                           ng-focus="searchEndTollGate()"
                           ng-change="searchEndTollGate()"
                           style="background-image:url('../img/onlineMap/finishingpoint.png');"
                    >
                    <img
                            class="empty-input"
                            id="emptyEndStation"
                            ng-click="emptyInput('endStation')"
                            src="../img/onlineMap/searchbar_close.png"
                    >
                </div>

                <button
                        class="btn searchbtn"
                        ng-click="getLinksFromStartToEnd()"
                >搜索
                </button>
            </div>
            <div class="searchResultList">
                <ul>
                    <li
                            class="searchResult"
                            ng-repeat="tollGate  in tollGateArr"
                            ng-click="getPidFromSearch(tollGate)"
                    >
                        <span class="logo"></span>
                        <span class="resultStation" ng-bind="tollGate.name"></span>
                        <span class="stationLocation" ng-bind="tollGate.admin_name"></span>
                    </li>
                </ul>
                <div class="noSearchResult" ng-style="noSearchResult">
                    <span class="logo"></span>
                    <span class="noResult">{{printNotice}}</span>
                </div>

            </div>
        </div>
        <div class="selectedDiv">
            <div class="nowCity" >
                北京市
            </div>
            <div class="choosedCity">
                <span>北京市</span>
                <img id="hideCityList" src="../img/onlineMap/arrow_active.png">
            </div>
            <div class="cityList">
                <div class="cityFirstLetterList" >
                    <ul class="allFirstLetters ">
                        <li class="firstLetter" ng-repeat="item in captureArr" ng-click="goCapture(item)">{{item}}</li>
                    </ul>
                </div>
                <div class="allCities">
                    <ul class="allCitiesList">
                        <li ng-repeat=" firstObj in provinceArr">
                            <a class="indexLetter" id=capture{{firstObj.capture}} ng-bind="firstObj.capture" ></a>
                            <span class="citiesBox">
                                <ul>
                                    <li ng-repeat="secondObj in firstObj.children" ng-click="locationProvince(secondObj)">
                                        <span ng-bind="secondObj.name"></span>
                                    </li>
                                </ul>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="map">
            <div class="changeMapSizeDiv">
                <button class="addBtn" onclick="changeZoom('add')"></button>
                <button class="subBtn" onclick="changeZoom('sub')"></button>
            </div>
        </div>
    </div>
</div>
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../lib/switch/pageSwitch.min.js"></script>
<script src="../js/index.js"></script>
<script src="../js/menu.js"></script>
<script src="../js/onlineMap.js"></script>
<script src="../lib/angularjs/1.4.4/angular.js"></script>
<script src="../lib/angular-popups/angular-popups.js"></script>
<script src="../lib/angular-nvd3/d3.js"></script>
<script src="../lib/angular-nvd3/nv.d3.js"></script>
<script src="../lib/angular-nvd3/angular-nvd3.js"></script>
<script src="../config/Application.js"></script>
<script src="../js/service/dataService.js"></script>
<script src="../js/service/dataService-sMap.js"></script>
<script src="../js/tollGate.js"></script>
<script>
    var map = new mapboxgl.Map({
        container : 'map',
        style : simple,
        zoom : 10,
        center : [ 116.38402, 39.96261 ],
        maxZoom : 22,
        minZoom : 5,
        pitch: 0
    });
    function changeZoom(arg){
        var nowZoom = map.getZoom();
        if(arg === 'add'){
            map.setZoom(nowZoom+1);
        }else{
            map.setZoom(nowZoom-1);
        }
    }
</script>
</body>

</html>