<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!-- build:css ../style/trafficLimited.css -->

    <link href='../lib/mapbox/mapbox-gl.css' rel='stylesheet' />
    <link href="../style/trafficLimited.css" rel="stylesheet" />
    <!-- endbuild -->

    <title>SMap</title>
</head>
<body ng-app="trafficLimited" ng-controller="trafficLimitedController" ng-keypress="GoSearch($event)">
<nav-bar loc="locFlag"></nav-bar>

<div id="container">
    <div style="height: 56px;text-align: left;font-weight: 400;margin-bottom: 2px">
        <ul style="list-style: none;margin: 0;vertical-align: middle;padding: 22px 0 0 0;display: flex; display: -ms-flexbox;">
            <li style="font-size: 14px;color:rgba(0,0,0,0.7)">您现在的位置:</li>
            <li style="font-size: 14px;padding-left: 5px;color:rgba(0,0,0,0.7)">在线体验</li>

            <li style="font-size: 20px;padding:0 4px 0 9px;margin-top: -4px; ;color:rgba(0,0,0,1)">></li>
            <li style="font-size: 14px;padding-left: 5px; color:rgba(0,0,0,0.7)">限行数据查询</li>
        </ul>
    </div>
    <div id="content">
        <div class="testLimited">
            <ul class="clear">
                <li style="padding-right:23px"><a href="javascript:void(0);" ng-click="searchByClass('1')" class="selected">全部</a></li>
                <li style="padding-right:23px"><a href="javascript:void(0);" ng-click="searchByClass('3')">卡车</a></li>
                <li><a href="javascript:void(0);" ng-click="searchByClass('2')">小客车</a></li>
                <li><a href="javascript:void(0);" ng-click="searchByClass('4')">外地车</a></li>
                <li><a href="javascript:void(0);" ng-click="searchByClass('5')">工作日</a></li>
                <li style="padding:0px"><a href="javascript:void(0);" ng-click="searchByClass('6')">节假日</a></li>
            </ul>
            <div class="searchInput clear">
                <div class="fl clear" style="width: 259px;border:1px solid #1478FF;height: 22px;border-right:0px;">
                    <input type="text"
                           placeholder="搜索限行区域、政策、车辆"
                           class="fl"
                           id="keywordSearch"
                           ng-model="searchWord"
                           style="font-size: 12px;width: 235px;text-indent: 10px"
                    >
                    <img src="../img/scenery/searchbar_close.png" alt=""
                         ng-class="{true: 'showDeleteBtn', false: 'hideDeleteBtn'}[searchWord.length !== 0]"
                         ng-click="clearInput()"
                         class="closeList"
                    >
                </div>
                <div class="fr searchButton"  ng-click="searchInfo()">搜索</div>
            </div>

        </div>
        <div class="resultList ng-cloak" ng-style="resultStyle">
            <ul ng-click="mapLocation(item,$index)" ng-repeat="item in searchList">
                <li>[&nbsp;限行<span style="font-family: Arial">{{$index+1}}</span>&nbsp;]</li>
                <li>限行区域： {{item.platelimit_area}}</li>
                <li>限行车辆： {{item.pl_condition}}</li>
                <li>限行政策： {{item.principle}}</li>
            </ul>
            <div class="MoreChange" ng-click="loadData()">

            </div>
        </div>
        <div class="noSearchResult ng-cloak" ng-style="noSearchResult">
            <span class="logo"></span>
            <span class="noResult">无搜索结果，请重新输入</span>
        </div>
        <div class="selectedDiv">
            <div class="clear" style="box-shadow: 0 3px 2px  rgba(84, 98, 137, 0.3);">
                <div class="limitToday fl">
                    <span ng-click="toTodayLimit()"
                          ng-style="changColor"
                    >
                        今日限行
                    </span>
                </div>
                <div class="nowCity fl" ng-style="nowCity" ng-click="showChoosedCity('nowCity')">
                    <span ng-bind="nowProvince"></span>
                </div>
            </div>

            <div class="choosedCity" ng-style="choosedCity">
                <span ng-bind="nowProvince"></span>
                <img class="hideCityList" ng-click="showChoosedCity('choosedCity')" src="../img/onlineMap/arrow_active.png">
            </div>
            <div class="cityList" ng-style="cityList">
                <div class="cityFirstLetterList" >
                    <ul class="allFirstLetters ">
                        <li class="firstLetter" ng-repeat="item in captureArr" ng-click="goCapture(item)">{{item}}</li>
                    </ul>
                </div>
                <div class="allCities">
                    <ul class="allCitiesList">
                        <li ng-repeat=" firstObj in provinceArr">
                            <a class="indexLetter" id=capture{{firstObj.capture}} ng-bind="firstObj.capture" ></a>
                            <span class="citiesBox">
                            <ul>
                                <li title="{{secondObj.name}}" ng-repeat="secondObj in firstObj.children" ng-click="locationProvince(secondObj)">
                                    <span ng-bind="secondObj.name"></span>
                                </li>
                            </ul>
                        </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="limitDaySec" ng-style="limitDayList">
                <ul class="limitDayContent">
                    <li style="color:#1478FF">[&nbsp;限行区域&nbsp;]</li>
                    <li ng-bind="initArea"></li>
                    <li style="color:#1478FF">[&nbsp;限行车辆&nbsp;]</li>
                    <li ng-bind="initCar"></li>
                    <li style="color:#1478FF">[&nbsp;限行政策&nbsp;]</li>
                    <li ng-bind="initPrinciple"></li>
                </ul>
                <div class="moreInfo" ng-click="moreInfo()">查看更多</div>

            </div>
        </div>
    </div>
    <div id="map">
        <div class="changeMapSizeDiv">
            <button class="addBtn" ng-click="changeZoom('add')"></button>
            <button class="subBtn" ng-click="changeZoom('sub')"></button>
        </div>
    </div>
</div>
<div class="limitTodayLists">
    <div class="closeIcon" ng-click="closeList()">
        <img src="../img/trafficLimited/icon_close_gray.png" alt="">
    </div>
    <ul class="limitList" ng-repeat="each in limitList" ng-click="mapLocation(each,$index)">
        <li>[&nbsp;限行<span style="font-family: Arial">{{$index+1}}</span>&nbsp;]</li>
        <li>限行区域： {{each.platelimit_area}}</li>
        <li>限行车辆： {{each.pl_condition}}</li>
        <li>限行政策： {{each.principle}}</li>
    </ul>
    <div class="noMore">
        已显示全部结果
    </div>

</div>
</body>

<!-- build:js ../js/trafficLimited.js -->
<script src='../lib/mapbox/mapbox-gl.js'></script>
<script src="../config/Application.js"></script>
<script src="../config/layer.js"></script>
<script src="../config/peovince.js"></script>
<script src="../lib/jquery/jquery.js"></script>
<script src='../lib/turf/turf.min.js'></script>
<script src="../lib/angularjs/1.4.4/angular.js"></script>
<script src="../js/service/dataService.js"></script>
<script src="../js/service/dataService-sMap.js"></script>
<script src="../js/trafficLimited.js"></script>
<script src="../js/directives/nav/nav.js"></script>
<!-- endbuild -->

<script src="../js/directives/nav/nav.js"></script>



</html>