<!DOCTYPE html>
<html lang="en" ng-app="productServiceApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../lib/bootstrapTable/bootstrap-table.css">
    <link rel="stylesheet" href="../style/service.css">
    <link rel="stylesheet" href="../style/index.css">
    <title>SMAP</title>
</head>
<body style="text-align: center;background-color: #fff;overflow-y: scroll;overflow-x:hidden;height:auto" onload =setSize()  onresize = setSize()>
<div style="width: 100%;position: fixed;z-index: 100; top: 0px;">
    <div style="padding: 0px 210px;background: #25396e; height: 40px">
        <div style="display: inline-block;float: right;">
            <div id="homePage" class="topTittle">
                <div  style="height: 16px;padding: 10px">
                    <a  href="../index.html" style="font-size: 14px;color: white;text-decoration: none">
                        首页
                    </a>
                </div>
                <div id="homePageBottom"
                     style="height: 4px;width: 100%;">

                </div>
            </div>
            <div  class="topTittle" style="padding: 0px 0px 0px 50px">
                <div id="solution" style="padding: 10px 0;height: 16px;text-shadow: 0 1px 10px #000;width: 104px;text-align: center;"
                     onmouseleave="hideMenu('onlineUse')" onmouseover="showMenu('onlineUse', 0)">
                    <span>
                        解决方案
                    </span>
                </div>
                <div id="solutionBottom"
                     style="height: 4px;width: 100%;"  onmouseleave="hideMenu('onlineUse')" onmouseover="showMenu('onlineUse', 0)">
                </div>
                <div style="width: 104px;position: absolute;margin-top: 0;"
                     onmouseenter="showMenu('onlineUse', 1)"  onmouseleave="hideMenu('onlineUse')">
                    <div id="onlineUse" class="menu box-shadow" style="height: 40px;width: 104px">
                        <div style="padding: 10px 0;font-size: 14px;text-align: center">
                            <a href="onlineUse.html" style="color: white;text-decoration: none">
                                收费信息查询
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="topTittle" style="padding: 0px 0px 0px 50px">
                <div id="service" style="height: 16px; padding: 10px;text-shadow: 0 1px 10px #000"
                     onmouseleave="hideMenu('produceService')" onmouseover="showMenu('produceService', 0)">
                        <span>
                            产品服务
                        </span>
                </div>
                <div id="serviceBottom"
                     style="height: 4px;width: 100%;">
                </div>
                <div style="width: 76px;position: absolute;margin-top: -4px"
                     onmouseenter="showMenu('produceService', 1)"  onmouseleave="hideMenu('produceService')">
                    <div class="menuDataServiceGrid" ></div>
                    <div id="serviceInterfaceNav" class="menu box-shadow" style="height: 40px">
                        <div style="padding: 10px 10px;font-size: 14px;text-shadow: 0 1px 10px #000" onclick="hideServiceMenu()">
                            <span>服务接口</span>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="topTittle" style="padding: 0px 0px 0px 50px;" >
                <div id="produce" style="height: 16px; padding: 10px;"  onmouseleave="hideMenu('produceWares')" onmouseover="showMenu('produceWares', 0)">
                        <span >
                            产品仓库
                        </span>
                </div>
                <div id="produceBottom"
                     style="height: 4px;width: 100%;">
                </div>
                <div style="width: 300px;position: absolute;margin-top: -4px"
                     onmouseenter="showMenu('produceWares', 1)" onmouseleave="hideMenu('produceWares')">
                    <div class="menuWaresGrid" ></div>
                    <div id="produceHouseNav"  class="menu box-shadow">
                        <div style="padding: 10px 10px" onclick="directToDescription(1)">
                            <span >产品介绍</span>
                        </div>
                        <div
                                style=" padding: 10px 10px; text-shadow: 0px 1px 10px #000000"
                                onmouseover="showSonMenu()"
                                onmouseleave="hideSonMenu()"
                        >
                            <span>产品下载</span>
                        </div>
                        <!--<div style="padding: 20px 10px">
                            <span style="font-size: 18px" onmouseover="showSonMenu()">规格查询</span>
                        </div>-->
                    </div>
                    <div id="produceHouseNavOfSon"
                         class="box-shadow"
                         onmouseenter="showSonMenu()"
                         onmouseleave="hideSonMenu()"
                         style="display:none; color: #fff;float: left;width: 100px;height:240px; z-index: 4;background: rgb(10, 33, 70)">
                        <div style="padding: 10px;">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=11&&specName=IDB"
                                    style="font-size: 14px; text-decoration: none;">
                                IDB
                            </a>
                        </div>
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=12&&specName=NIMIF-G"
                                    style="font-size: 14px; text-decoration: none;">
                                NIMIF-G</a>
                        </div>
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=13&&specName=NNAVEX"
                                    style="font-size: 14px; text-decoration: none;">
                                NAVEX</a>
                        </div>
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=14&&specName=AIF"
                                    style="font-size: 14px; text-decoration: none;">
                                AIF</a>
                        </div>
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=15&&specName=NIGDF-G"
                                    style="font-size: 14px; text-decoration: none;">
                                NIGDF-G</a>
                        </div>
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000">
                            <a
                                    onclick="hideMenu('produceWares')"
                                    href="productWarehouse.html?specid=16&&specName=NIMIF-K"
                                    style="font-size: 14px; text-decoration: none;">
                                NIMIF-K</a>
                        </div>
                    </div>
                    <div id="onlineUse"
                         class="box-shadow firstMenu"
                         onmouseover="showOnlineUse()"
                         onmouseleave="hideOnlineUse()">
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000"><a href="onlineUse.html" style="color: white;font-size:14px;text-decoration: none">收费信息查询</a></div>
                        <div  style="padding: 10px;text-shadow: 0px 1px 10px #000000"><a href="onlineUse.html" style="color: white;font-size:14px;text-decoration: none">地图数据查询</a></div>
                    </div>
                </div>
            </div>
            <div  class="topTittle" style="padding: 0px 0px 0px 50px;">
                <div id="support" style="height: 16px; padding: 10px;">
                    <a href="undevelopPage.html" style="font-size: 14px;color: white;text-decoration: none">
                        技术支持
                    </a>
                </div>
                <div id="supportBottom"
                     style="height: 4px;width: 100%;">

                </div>
            </div>
            <div  class="topTittle" style=" padding: 0px 0px 0px 50px;">
                <div id="login" style="height: 16px; padding: 10px;">
                    <a href="undevelopPage.html" style="font-size: 14px;color: white;text-decoration: none">
                        登录
                    </a>
                </div>
                <div id="loginBottom"
                     style="height: 4px;width: 100%;">

                </div>
            </div>
        </div>
        <div id="logo"></div>
    </div>
</div>
<div  ng-controller="selectedController" style="display: inline-block; width: 1070px;margin-top: 40px;background: white;">
    <div style="float: left; width: 330px;background: white;">
        <div style="padding-top: 16px;width: 300px;height: 500px" >
            <div style="position: fixed;width: 300px;text-align: left;height: 600px;">
                <div ng-repeat="service in services">
                    <div class="firstNav" ng-click="showArrowDirect(service, $index)">
                        <div style="height: 40px; width: 260px;float: left">
                            <div class="verticalLine" ng-show="service.flag"></div>
                            <div ng-class="{true: 'firstContent', false: 'firstContentFrom'}[service.flag]"  ng-bind="service.name"></div>
                        </div>
                        <div style="height: 40px;float: right;padding-right: 20px;" ng-if="service.type === 'referenceManual'">
                            <div style="height: 10px;width:5px;padding:15px 0px">
                                <div ng-class="{true:'arrowNormal',false:'arrowActive'}[service.flag]"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="item in service.children" ng-class="{true: 'showChildren', false: 'hideChildren'}[service.flag]">
                        <div  style="height: 40px;width: 100%;background-color: #e9ebf0; border-bottom: 1px solid #c2c7d6">
                            <div style="display: inline-block;">
                                <div style="float: left;padding:14px 10px 10px 20px;height: 12px;line-height: 40px">
                                    <div class="dot"></div>
                                </div>
                                <div class="textDiv" style="padding-left: 0px;line-height: 40px;height: 40px">
                                    <span style="font-size: 14px; color:#25396e; font-weight: bold" ng-bind="item.name"></span>
                                </div>
                            </div>
                        </div>
                        <div style="width: 100%;background-color: #e9ebf0; border-bottom: 1px solid #c2c7d6">
                            <div  class="showTypeList">
                                <div ng-repeat="obj in item.children" ng-click="changeDataApiPage(item.name,obj.type, obj.name)" ng-class="{true:'selectedBg'}[obj.type === dataServiceFlag]">
                                    {{obj.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="float:left;width: 740px;background: white;">
        <div style="width: 740px;border-bottom: 1px solid #bdc3d3;">
            <div style="height: 56px;">
                <div style="float: left; padding: 20px 0px">
                    <span style="font-size: 14px; color:rgba(0,0,0,0.7)">您现在的位置:</span>
                </div>
                <div style="float: left;  padding: 20px 0px " id="navigation">
                    <ul style="list-style-type: none;">
                        <li><a href="#">产品服务</a></li>
                        <li>></li>
                        <li><a href="#">服务接口</a></li>
                        <li>></li>
                        <li><a href="#" id="apiType">数据服务型</a></li>
                        <li ng-show="arrowFlag">></li>
                        <li><a href="#" id="showApiName">获取瓦片信息</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="float: left; width: 740px;text-align: left">
            <div style="width: 100%;height: 1px">
                <div  class="jumpBackground"id="jumpDiv" ng-style="jumpHeight">
                    <div style="height: 30px;width: 100px;" ng-repeat="jump in jumps">
                        <div style="float: left;padding: 5px 0px;height: 20px" ng-show="jump.id === jumpFlag">
                            <div style="height:18px; border: 1px solid #1478ff"></div>
                        </div>
                        <div  ng-click="jumpToDiv(jump.id)"
                              ng-bind="jump.name"
                              ng-class="{true: 'jumpStyleActive', false: 'jumpStyle'}[jump.id === jumpFlag]"
                        >
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 740px;" id="apiPage"></div>
        </div>

    </div>
</div>
</body>
<script src="../lib/angularjs/1.4.4/angular.js"></script>
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrapTable/bootstrap-table.js"></script>
<script src="../config/Application.js"></script>
<script src="../js/service/dataService.js"></script>
<script src="../js/service/dataService-sMap.js"></script>
<script src="../js/menu.js"></script>
<script src="../js/productService.js"></script>
<script src="../js/constant/apisConstant.js"></script>
<script>
    function setSize() {

        var Width = document.body.clientWidth;
        var body = document.getElementsByTagName('body');
        var jumpDiv = document.getElementById('jumpDiv');
        if(Width < 1080){
            var rightOffset = 0;
        }else{

            var rightOffset = (Width - 1070) / 2 + 'px';
        }
        jumpDiv.style.right = rightOffset;
    }
</script>
</html>