<!DOCTYPE html>
<html lang="en" ng-app="product" style="background-color: #fff">
<head>
    <meta charset="UTF-8">
    <title>SMap</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!-- build:css ../style/warehouse.css -->

    <link rel="stylesheet" href="../lib/angular-nvd3/nv.d3.css">
    <link rel="stylesheet" href="../style/index.css">
    <!-- endbuild -->

    <style>
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none;
        }
    </style>

</head>
<body ng-controller="productController" style="min-width: 1200px;text-align: center;background-color: #fff;overflow-y: scroll">
<nav-bar loc="locFlag"></nav-bar>
<div  style="display: inline-block; width: 1070px;margin-top: 40px;background: white;">
    <div style="float:left;width: 740px;background: white; text-align: left;">
        <div style="width: 740px;border-bottom: 1px solid #bdc3d3;">
            <div style="display: inline-block;height: 56px;">
                <div style="float: left; padding: 20px 0px">
                    <span style="font-size: 14px;color:rgba(0,0,0,0.7)">您现在的位置:</span>
                </div>
                <div style="float: left;  padding: 20px 0px;" id="navigation">
                    <ul>
                        <li><a href="#" >产品仓库</a></li>
                        <li>></li>
                        <li><a href="#">产品下载</a></li>
                        <li>></li>
                        <li><a href="#">{{specName}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="width: 740px;">
            <div style="height: 280px;width: 740px;background: white">
                <div style="height:100%; display: inline-block;width: 100%">
                    <div style="float: left; height:100%; width: 400px;text-align: left">
                        <div style="padding: 30px 0px 0px 0px">
                            <div style="padding-right: 160px;">
                                <div style="border-bottom: 1px solid #bdc3d3;height: 30px; width: 100%;display: inline-block;padding-left: 10px;">
                                    <div class="productStrategyIcon"></div>
                                    <div class="productStrategyText"><span style="font-size: 18px;color: #74666c">产品组合策略</span></div>
                                </div>
                            </div>
                            <div style="height: 220px">
                                <div style="padding: 20px 0px 10px 12px">
                                    <label for="dayPOI" style="font-size: 14px; color: rgba(0,0,0,0.8)"><input type="radio" name="POI" id="dayPOI"  ng-click="modifyModeId(20)">日产品（POI）+季产品</label>
                                </div>
                                <div style="padding: 6px 0px 10px 12px">
                                    <label for="dayAndSeasonPOI" style="font-size: 14px;color: rgba(0,0,0,0.8)"><input type="radio" name="POI" id="dayAndSeasonPOI" ng-click="modifyModeId(10)" checked>日产品（POI+ROAD）+季产品</label>
                                </div>
                                <div style="padding: 6px 0px 10px 12px">
                                    <label for="monthPOI" style="font-size: 14px; color: rgba(0,0,0,0.8)"><input type="radio" name="POI" id="monthPOI" ng-click="modifyModeId(30)">月产品+季产品</label>
                                </div>
                                <div style="padding: 6px 0px 10px 12px">
                                    <label for="seasonPOI" style="font-size: 14px; color: rgba(0,0,0,0.8)"><input type="radio" name="POI" id="seasonPOI" ng-click="modifyModeId(40)">季产品</label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div style="float: left; height:100%; width:240px;text-align: left">
                        <div style="padding: 30px 0px 0px 0px">
                            <div style="border-bottom: 1px solid #bdc3d3; height: 30px; width: 100%;display: inline-block;padding-left: 10px">
                                <div class="productStrategyDateIcon"></div>
                                <div class="productStrategyText"><span style="font-size: 18px; color: #74666c">日期</span></div>
                                <!--<div style="float: right" class="pageDownIcon">-->
                                <!--</div>-->
                                <!--<div style="float: right;padding-right: 10px" class="pageUpIcon">-->
                                <!--</div>-->
                            </div>
                            <div style="height: 220px">
                                <div style="padding: 20px 0px 10px 12px">
                                    <label for="winter" style="font-size: 14px; color: rgba(0,0,0,0.8)"><input type="radio" ng-click="changVersionSeason('16WIN')" name="season" id="winter" checked>2016年冬</label>
                                </div>
                                <div style="padding: 6px 0px 10px 12px">
                                    <label for="fall" style="font-size: 14px; color: rgba(0,0,0,0.8)"><input type="radio" ng-click="changVersionSeason('16AUT')" name="season" id="fall" >2016年秋</label>
                                </div>
                                <div style="padding: 6px 0px 10px 12px">
                                    <label for="summer" style="font-size: 14px; color: rgba(0,0,0,0.8)"><input type="radio" ng-click="changVersionSeason('16SUM')" name="season" id="summer" >2016年夏</label>
                                </div>
                                <div style="padding: 6px 0px 10px 12px">
                                    <label for="spring" style="font-size: 14px; color: rgba(0,0,0,0.8)"><input type="radio" ng-click="changVersionSeason('16PR')" name="season" id="spring">2016年春</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="dayFlag" style="width: 740px;">
                <div style="padding: 0px 0px 16px 0px;">
                    <div style="height: 30px; width: 100%;display: inline-block;padding-left: 8px;">
                        <div class="produceListIcon"></div>
                        <div class="productStrategyText"><span style="font-size: 18px;color: #74666c">日产品列表</span></div>
                    </div>
                </div>
              <tab
                      display-model='dayProduceData'
                      display-total="dayTotal"
                      display-page="dayPage"
                      display-flag = 'dayFlag'
                      display-id="productDayList">

              </tab>

            </div>
            <div ng-if="monthFlag" style="width: 740px;padding-top: 30px;">
                <div style="padding: 0px 0px 16px 0px;">
                    <div style="height: 30px; width: 100%;display: inline-block;padding-left: 8px;">
                        <div class="produceListIcon"></div>
                        <div class="productStrategyText"><span style="font-size: 18px;color: #000000">月产品列表</span></div>
                    </div>
                </div>
                <tab
                        display-model='monthProduceData'
                        display-total="monthTotal"
                        display-page="monthPage"
                        display-flag = 'monthFlag'
                        display-id="productMonthList">

                </tab>

            </div>
            <div ng-if="seasonFlag" style="width: 740px;padding-top: 30px">
                <div style="padding: 0px 0px 16px 0px;">
                    <div style="height: 30px; width: 100%;display: inline-block;padding-left: 8px;">
                        <div class="produceListIcon"></div>
                        <div class="productStrategyText"><span style="font-size: 18px;color: #74666c">季产品列表</span></div>
                    </div>
                </div>
                <tab
                        display-model='seasonProduceData'
                        display-total="seasonTotal"
                        display-page="seasonPage"
                        display-flag = 'seasonFlag'
                        display-id="productSeasonList">

                </tab>

            </div>
        </div>
    </div>
    <div style="float: left; width: 330px;background: white;">
        <div style="float:left; padding: 60px 0px 0px 30px;width: 300px;height: 500px">
            <div style="
            position: fixed;
        width: 300px;
        height: 470px;
        border: 1px solid #bdc3d3;
        overflow: auto;
        border-radius: 3px;
        padding: 14px 20px 0px 20px">
                <div style="width: 100%; height: 40px; border-bottom: 1px solid #bdc3d3;display: inline-block">
                    <div style="float: left" class="darkBlueIcon"></div>
                    <div style="float: left;padding-left: 10px">
                        <span style="font-size: 14px; color: #25396e">产品描述</span>
                    </div>
                </div>
                <div style="width: 100%; height: 100px">
                    <div style="padding-top: 16px; text-align: left">
                        <span style="font-size: 14px; color: #25396e;float: left" ng-bind="description"></span>
                    </div>
                </div>
                <div style="width: 100%; height: 40px; border-bottom: 1px solid #bdc3d3;display: inline-block">
                    <div style="float: left" class="darkBlueIcon"></div>
                    <div style="float: left;padding-left: 10px"><span style="font-size: 14px; color: #25396e">各要素比例</span></div>
                </div>
                <div style="width: 100%; height: 300px">
                    <div>
                        <nvd3 options='options' data='chartData'></nvd3>
                    </div>
                </div>
                <div style="width: 100%; height: 40px;border-bottom: 1px solid #bdc3d3;display: inline-block">
                    <div style="float: left; width: 50%;text-align: left"><span style="font-size: 14px; color: #25396e">POI</span></div>
                    <div style="float: left;width: 50%;text-align: left"><span style="font-size: 14px; color: #25396e">道路</span></div>
                </div>
                <div style="width: 100%; height: 200px; display: inline-block">
                    <div style="float: left; width: 50%;text-align: left">
                        <div style="padding: 10px 0">
                            <span style="font-size: 14px; color: #25396e">新增:{{poiData[0]}}个</span>
                        </div>
                        <div style="padding: 10px 0">
                            <span style="font-size: 14px; color: #25396e">删除:{{poiData[1]}}个</span>
                        </div>
                        <div style="padding: 10px 0">
                            <span style="font-size: 14px; color: #25396e">修改:{{poiData[2]}}个</span>
                        </div>
                    </div>
                    <div style="float: left; width: 50%;text-align: left">
                        <div style="padding: 10px 0">
                            <span style="font-size: 14px; color: #25396e">新增:{{roadData[0]}}公里</span>
                        </div>
                        <div style="padding: 10px 0">
                            <span style="font-size: 14px; color: #25396e">删除:{{roadData[1]}}公里</span>
                        </div>
                        <div style="padding: 10px 0">
                            <span style="font-size: 14px; color: #25396e">修改:{{roadData[1]}}公里</span>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; height: 40px;border-bottom: 1px solid #bdc3d3;display: inline-block">
                    <div style="float: left; width: 50%;text-align: left"><span style="font-size: 14px; color: #25396e">道路(按等级统计)</span></div>
                </div>
                <div style="width: 100%; height: 200px; display: inline-block">
                    <div style="float: left; width: 50%;text-align: left">
                        <div style="padding: 10px 0">
                            <span style="font-size: 14px; color: #25396e">高速:{{highSpeed}}公里</span>
                        </div>
                        <div style="padding: 10px 0">
                            <span style="font-size: 14px; color: #25396e">城高:{{interHighSpeed}}公里</span>
                        </div>
                        <div style="padding: 10px 0">
                            <span style="font-size: 14px; color: #25396e">国道:{{nationalRoad}}公里</span>
                        </div>
                    </div>
                    <div style="float: left; width: 50%;text-align: left">
                        <div style="padding: 10px 0">
                            <span style="font-size: 14px; color: #25396e">省道:{{provincialRoad}}公里</span>
                        </div>
                        <div style="padding: 10px 0">
                            <span style="font-size: 14px; color: #25396e">其他:{{otherRoad}}公里</span>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; height: 40px; border-bottom: 1px solid #bdc3d3;display: inline-block">
                    <div style="float: left" class="darkBlueIcon"></div>
                    <div style="float: left;padding-left: 10px"><span style="font-size: 14px; color: #25396e">省份信息</span></div>
                </div>
                <div style="width: 100%;height: 800px; padding-top: 8px; display: inline-block">
                    <div ng-repeat="province in provinces" style="float: left; height:24px;padding-right: 6px;padding-bottom: 16px">
                        <div class="provinceSpan">
                            <span style="display: block;line-height: 24px ">{{province}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<!-- build:js ../js/warehouse.js -->

<script src="../lib/angularjs/1.4.4/angular.js"></script>
<script src="../js/directives/tab/tab.js"></script>
<script src="../config/Application.js"></script>
<script src="../lib/angular-popups/angular-popups.js"></script>
<script src="../lib/angular-nvd3/d3.js"></script>
<script src="../lib/angular-nvd3/nv.d3.js"></script>
<script src="../lib/angular-nvd3/angular-nvd3.js"></script>
<script src="../lib/jquery/jquery.js"></script>
<script src="../config/Application.js"></script>
<script src="../js/service/dataService.js"></script>
<script src="../js/service/dataService-sMap.js"></script>
<script src="../js/menu.js"></script>
<script src="../js/productWarehouse.js"></script>
<script src="../js/directives/nav/nav.js"></script>
<!-- endbuild -->

<script src="../js/directives/nav/nav.js"></script>

<!-- endbuild -->

</html>