<!DOCTYPE html>
<html lang="en" ng-app="productServiceApp">
<head>
    <meta charset="UTF-8">
    <!-- build:css ../style/service.css -->

    <link rel="stylesheet" href="../lib/bootstrapTable/bootstrap-table.css">
    <link rel="stylesheet" href="../style/description.css">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/service.css">
    <link rel="stylesheet" href="../style/api.css">
    <link rel="stylesheet" href="../style/summary.css">
    <link rel="stylesheet" href="../style/tollcost.css">
    <!-- endbuild -->
    <style>
        .clear:after{
            clear: both;
            content:"";
            display: block;
        }
        .verticalLine{
            border: none;width: 0;
        }
        .menu-left>.ng-scope:nth-of-type(1) .menu-icon {
            background: url(../img/produceService/icon_zhinan.png) no-repeat scroll center left;
        }
        .menu-left>.ng-scope:nth-of-type(2) .menu-icon {
            background: url(../img/produceService/icon_data.png) no-repeat scroll center left;
        }
        .menu-left>.ng-scope:nth-of-type(3) .menu-icon {
            background: url(../img/produceService/icon_suanfa.png) no-repeat scroll center left;
        }
        .menu-left>.ng-scope:nth-of-type(4) .menu-icon {
            background: url(../img/produceService/icon_shuoming.png) no-repeat scroll center left;
        }
        .menu-left>.ng-scope>div:hover{
            background-color: rgba(96,197, 255, 0.5);
        }
        .menu-left>.ng-scope>div{
            padding-left: 15px;
        }
    </style>



    <title>SMAP</title>
</head>
<body style="text-align: center;background-color: #fff;overflow-y: scroll;overflow-x:hidden;" onload =setSize()  onresize = setSize()  ng-controller="selectedController">
<nav-bar loc="locFlag"></nav-bar>
<div style="display: inline-block; width: 1070px;margin-top: 40px;background: white;">
    <div style="float: left; width: 290px;background: white;">
        <div style="padding-top: 16px;width: 260px;height: 500px" >
            <div style="position: fixed;width: 245px;text-align: left;height: 320px;padding: 10px 0 10px 0;background: url(../img/produceService/bg_left.png) no-repeat scroll center center;background-size: cover" class="menu-left">
                <div ng-repeat="service in services">
                    <div ng-click="service.children ? '#' : showArrowDirect(service, $index)" class="clear">
                        <div style="height: 40px; width: 260px;float: left;font-weight: bold;color: #fff;font-size: 14px;line-height: 40px">
                            <div class="verticalLine" ng-show="service.flag"></div>
                            <div ng-class="{true: 'firstContent', false: 'firstContentFrom'}[service.flag]"  ng-bind="service.name" style="padding-left: 35px;" class="menu-icon"></div>
                        </div>
                        <div style="height: 40px;float: right;padding-right: 20px;" ng-if="service.type === 'referenceManual'">
                            <div style="height: 10px;width:5px;padding:15px 0px">
                                <div ng-class="{true:'arrowNormal',false:'arrowActive'}[service.flag]"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="item in service.children" ng-click="showArrowDirect(item, $index)" >
                        <div  style="height: 40px;width: 100%;" class="clear">
                            <div style="display: inline-block;">
                                <div style="float: left;width: 55px;height: 40px;line-height: 40px;">
                                    <div class="dot"></div>
                                </div>
                                <div class="textDiv" style="padding-left: 0px;line-height: 40px;height: 40px;">
                                    <span style="font-size: 14px; color:#fff; font-weight: bold" ng-bind="item.name"></span>
                                </div>
                            </div>
                        </div>
                        <div style="width: 100%">
                            <div  class="showTypeList">
                                <div ng-repeat="obj in item.children" ng-click="changeDataApiPage(item.name,obj.type, obj.name)" ng-class="{true:'selectedBg'}[obj.type === dataServiceFlag]">
                                    {{obj.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div style="float:left;width: 740px;background: white;" id="detailedContent">
        <div style="width: 740px;border-bottom: 1px solid #bdc3d3;">
            <div style="height: 56px;">
                <div style="float: left; padding: 20px 0px">
                    <span style="font-size: 14px; color:rgba(0,0,0,0.7)">您现在的位置:</span>
                </div>
                <div style="float: left;  padding: 20px 0px " id="navigation">
                    <ul style="list-style-type: none;">
                        <li><a href="#">开发中心</a></li>
                        <li>></li>
                        <li><a href="#">服务接口</a></li>
                        <li>></li>
                        <li><a href="#" id="apiType">数据服务型</a></li>
                        <li ngshow-="arrowFlag">></li>
                        <li><a href="#" id="showApiName">施工道路</a></li>
                    </ul>
                </div>
                <div style="float:right;font-size:12px;color:rgba(0,0,0,0.7);line-height:56px">版本信息：V1.0.4</div>
            </div>
            <!--<div id="wordExport">下载</div>-->
        </div>
        <div style="float: left; width: 740px;text-align: left">
            <div style="width: 100%;height: 1px">
                <div  class="jumpBackground" id="jumpDiv" ng-style="jumpHeight">
                    <div style="height: 30px;width: 100px;" ng-repeat="jump in jumps">
                        <!-- <div style="float: left;padding: 5px 0px;height: 20px" ng-show="jump.id === jumpFlag">
                             <div style="height:18px; border: 1px solid #1478ff"></div>
                         </div>-->
                        <div  ng-click="jumpToDiv(jump.id)"
                              ng-bind="jump.name"
                              ng-class="{true: 'jumpStyleActive2', false: 'jumpStyle2'}[jump.id === jumpFlag]"
                        >
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 740px;" id="apiPage"></div>
        </div>

    </div>
</div>
</body>
<!-- build:js ../js/service.js -->

<script src="../lib/angularjs/1.4.4/angular.js"></script>
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrapTable/bootstrap-table.js"></script>
<script src="../lib/wordExport/fileSave.js"></script>
<script src="../lib/wordExport/jqery.wordexport.js"></script>
<script src="../config/Application.js"></script>
<script src="../js/service/dataService.js"></script>
<script src="../js/service/dataService-sMap.js"></script>
<script src="../js/menu.js"></script>
<script src="../js/productService.js"></script>
<script src="../js/constant/apisConstant.js"></script>
<script src="../js/directives/nav/nav.js"></script>
<!-- endbuild -->

<script src="../js/directives/nav/nav.js"></script>

<script>
    function setSize() {

        var Width = document.body.clientWidth;
        var body = document.getElementsByTagName('body');
        var jumpDiv = document.getElementById('jumpDiv');
        if(Width < 1080){
            var rightOffset = 0;
        }else{

            var rightOffset = (Width - 1070) / 2 + 'px';
        }
        jumpDiv.style.right = rightOffset;
    }
    //    $(function () {
    //       $('#wordExport').click(function (event) {
    //           $('#apiPage').wordExport();
    //       })
    //    });
</script>
</html>